In [349]:
import pandas as pd
import numpy as np
from mortgage import Loan
import matplotlib.pyplot

In [30]:
# load in HUD 2020 FMR 50 data (median rent by county)
rent_data = pd.read_excel('../data/data.gov/FY2020_50_County.xlsx')

In [31]:
rent_data.head()

,fips2010,rent50_0,rent50_1,rent50_2,rent50_3,rent50_4,state,cbsasub20,areaname20,county,cousub,cntyname,name,pop2017,hu2017,state_alpha
0,100199999,615,741,876,1105,1504,1,METRO33860M33860,"Montgomery, AL MSA",1,99999,Autauga County,Autauga County,55035,23152,AL
1,100399999,806,811,992,1355,1696,1,METRO19300M19300,"Daphne-Fairhope-Foley, AL MSA",3,99999,Baldwin County,Baldwin County,203360,110023,AL
2,100599999,508,512,674,840,985,1,NCNTY01005N01005,"Barbour County, AL",5,99999,Barbour County,Barbour County,26200,11918,AL
3,100799999,875,937,1073,1404,1551,1,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",7,99999,Bibb County,Bibb County,22580,9112,AL
4,100999999,875,937,1073,1404,1551,1,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",9,99999,Blount County,Blount County,57665,24161,AL

In [32]:
rent_data[rent_data['cntyname'] == 'Adams County']

,fips2010,rent50_0,rent50_1,rent50_2,rent50_3,rent50_4,state,cbsasub20,areaname20,county,cousub,cntyname,name,pop2017,hu2017,state_alpha
244,800199999,1210,1367,1700,2348,2701,8,METRO19740M19740,"Denver-Aurora-Lakewood, CO MSA",1,99999,Adams County,Adams County,487850,169275,CO
713,1600399999,528,577,716,991,1172,16,NCNTY16003N16003,"Adams County, ID",3,99999,Adams County,Adams County,3945,2672,ID
756,1700199999,611,617,777,1076,1106,17,NCNTY17001N17001,"Adams County, IL",1,99999,Adams County,Adams County,66785,30167,IL
858,1800199999,500,588,714,1030,1254,18,NCNTY18001N18001,"Adams County, IN",1,99999,Adams County,Adams County,35020,13203,IN
951,1900399999,497,522,687,962,1114,19,NCNTY19003N19003,"Adams County, IA",3,99999,Adams County,Adams County,3785,2010,IA
2416,2800199999,536,575,715,891,998,28,NCNTY28001N28001,"Adams County, MS",1,99999,Adams County,Adams County,31585,14664,MS
2670,3100199999,470,585,721,976,1190,31,NCNTY31001N31001,"Adams County, NE",1,99999,Adams County,Adams County,31565,13794,NE
3256,3800199999,609,627,714,1030,1254,38,NCNTY38001N38001,"Adams County, ND",1,99999,Adams County,Adams County,2370,1395,ND
3309,3900199999,564,567,696,881,943,39,NCNTY39001N39001,"Adams County, OH",1,99999,Adams County,Adams County,27925,12924,OH
3510,4200199999,666,770,949,1267,1542,42,METRO23900M23900,"Gettysburg, PA MSA",1,99999,Adams County,Adams County,101590,41819,PA
4494,5300199999,673,728,829,1121,1407,53,NCNTY53001N53001,"Adams County, WA",1,99999,Adams County,Adams County,19260,6479,WA
4588,5500199999,541,606,798,1069,1179,55,NCNTY55001N55001,"Adams County, WI",1,99999,Adams County,Adams County,20110,17608,WI

In [33]:
rent_data[(rent_data['state_alpha']=='CO') & (rent_data['cntyname'] == 'Adams County')]

,fips2010,rent50_0,rent50_1,rent50_2,rent50_3,rent50_4,state,cbsasub20,areaname20,county,cousub,cntyname,name,pop2017,hu2017,state_alpha
244,800199999,1210,1367,1700,2348,2701,8,METRO19740M19740,"Denver-Aurora-Lakewood, CO MSA",1,99999,Adams County,Adams County,487850,169275,CO

In [34]:
def get_rent(bed_count,state, county):
    cnty = str(county) #+ ' County'
    row = rent_data[(rent_data['state_alpha'] == str(state)) & (rent_data['cntyname'] == cnty)]
    if bed_count < 0:
        return 'Must enter bedroom count greater than zero'
        
    elif bed_count <= 4:
        return int(row['rent50_'+str(bed_count)])
    
    else: 
        extra_beds = bed_count - 4
        rent = row['rent50_4']
        for i in range(extra_beds):
            rent = rent * 1.15
        return int(rent)

In [35]:
get_rent(3,'CO','Adams County')

2348

## Collect User Info

In [36]:
value = int(input("Money for downpayment?"));

Money for downpayment?200

In [37]:
value

200

### Potential GUI user input package
tkinter  - source: https://docs.python.org/3/library/tkinter.html

In [38]:
# import tkinter as tk

# class Application(tk.Frame):
#     def __init__(self, master=None):
#         super().__init__(master)
#         self.master = master
#         self.pack()
#         self.create_widgets()

#     def create_widgets(self):
#         self.hi_there = tk.Button(self)
#         self.hi_there["text"] = "Hello World\n(click me)"
#         self.hi_there["command"] = self.say_hi
#         self.hi_there.pack(side="top")

#         self.quit = tk.Button(self, text="QUIT", fg="red",
#                               command=self.master.destroy)
#         self.quit.pack(side="bottom")

#     def say_hi(self):
#         print("hi there, everyone!")

# root = tk.Tk()
# app = Application(master=root)
# app.mainloop()

In [39]:
user_df = pd.DataFrame(columns=['name','loan_type','cash','state','county'])

In [40]:
# consider using classes
    
def create_user():
    name = input('Enter your name')
    loan = input('Enter loan type')
    cash = int(input('Enter the amount of money available'))
    state = input('Enter the state you are looking to invest in i.e. "CO"')
    county = input('Enter the county you are looking to invest in i.e. "Denver"')
    return {'name':name,'loan_type':loan,'cash':cash,'state':state,'county':county}

def add_user(user):
    return user_df.append(user, ignore_index=True)

In [41]:
user_df = add_user(create_user())

Enter your namesc
Enter loan typefh
Enter the amount of money available200
Enter the state you are looking to invest in i.e. "CO"CO
Enter the county you are looking to invest in i.e. "Denver"Dence

In [42]:
user_df.head()

  name loan_type cash state county
0   sc        fh  200    CO  Dence

In [43]:
# consider making recomendations on what to buy given the info provided on the user
#searches the county for homes that could be purchased with the money provided

## Financial Calculation Functions

###

### Cash on Cash Return

Monthly Cashflow = Monthly Total Income - Vacancy Rate - Expense Reserves - Monthly Expenses(water & trash) - Monthly Financing Cost - Monthly Taxes - Monthly Insurance

Annual Cashflow = Monthly Cashflow * 12
Cash on Cash = Annual Cashflow / Total Cash Invested

### Monthly
mti = Monthly Total Income (total income of property including all units and aux services)

vr = Vacancy Rate (percentage of income held out to cover costs of vacant unit, typically 5% of mti) 

er = Expense Reserves (Maintenance and Capital Improvements, usually 10-25% of mti)

me = Monthly Expenses (landlord paid expenses, typically water and trash)

mfc = Monthly Financing Cost (principle and interest payments)

mt = Monthly Taxes (annual tax / 12)

mi = Monthly Insurance (annual insurance cost / 12) 

mcf = Monthly Cashflow (mti - vr - er - me - mfc - mt - mi)

### Annual
acf = Annual Cashflow (mcf * 12)

### Financial
tci = Total Cash Invested (amount of money initially put into deal

coc = Cash On Cash (acf / tci) * 100

In [44]:
# Monthly 
mti = 5000
vr = 5000 * .05
er = 5000 * (.05 + .05)
me = (100 + 50) #water & trash
mfc = (2000)
mt = (3000/12)
mi = (3000/12)
# Composite
mcf = mti - vr - er - me - mfc - mt - mi

# Annual
acf = mcf * 12

# Financial 
tci = 150_000
coc = (acf / tci) * 100

In [45]:
print(f'Your Annual Cashflow is ${acf} giving you a Cash-On-Cash return of {coc}%!')

Your Annual Cashflow is $19200.0 giving you a Cash-On-Cash return of 12.8%!

In [46]:
loan = Loan(principal=600000, interest=.04, term=30)

In [47]:
loan.summarize

Original Balance:         $    600,000
Interest Rate:                    0.04 %
APY:                              4.07 %
APR:                              4.00 %
Term:                               30 years
Monthly Payment:          $    2864.49

Total principal payments: $ 600,000.00
Total interest payments:  $ 431,217.04
Total payments:           $1,031,217.04
Interest to principal:            71.9 %
Years to pay:                     30.0

In [48]:
loan.schedule()[1]

Installment(number=1, payment=Decimal('2864.491772792756954268129412'), interest=Decimal('2E+3'), principal=Decimal('864.491772792756954268129412'), total_interest=Decimal('2000'), balance=Decimal('599135.5082272072430457318706'))

In [49]:
loan.monthly_payment

Decimal('2864.49')

## House API
from atom_api_final notebook

In [50]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

def call_api_all(bld_num,street,str_type,unit=None,unit_num=None,city=None,state=None):
    import http.client
    
    conn = http.client.HTTPSConnection("api.gateway.attomdata.com") 

    headers = { 
        'accept': "application/json", 
        'apikey': "5b3709e8f052f5a495b91df054a47709", 
    } 
    address_1 = f"address1={bld_num}%20{street}%20{str_type}%20{unit}%20{unit_num}"
    address_2 = f"&address2={city}%2C%20{state}"
    conn.request("GET", f"/propertyapi/v1.0.0/allevents/detail?{address_1}{address_2}", headers=headers) 

    res = conn.getresponse() 
    data = res.read() 
    
#    print(data.decode("utf-8"))
    return data
#    print("GET", f"/propertyapi/v1.0.0/property/detail?{address}", "headers=headers")

def extract_details(api_data):
    house = json.loads(api_data)
    
    # create new dfs based on dictionary keys

    # df_1 ['obPropId', 'fips', 'apn', 'apnOrig', 'attomId']
    df_1 = pd.DataFrame(house['property'][0]['identifier'],index=[0])

    # df_2 ['depth', 'frontage', 'lotnum', 'lotsize1', 'lotsize2', 'pooltype']
    df_2 = pd.DataFrame(house['property'][0]['lot'],index=[0])

    # df_3 ['blockNum', 'countrysecsubd', 'countyuse1', 'muncode', 'munname',
    #       'srvyRange', 'srvySection', 'srvyTownship', 'subdname', 'subdtractnum','taxcodearea']
    df_3 = pd.DataFrame(house['property'][0]['area'],index=[0])

    # df_4 ['country', 'countrySubd', 'line1', 'line2', 'locality', 'matchCode',
    #       'oneLine', 'postal1', 'postal2', 'postal3']
    df_4 = pd.DataFrame(house['property'][0]['address'],index=[0])

    # df_5 = ['accuracy', 'elevation', 'latitude', 'longitude', 'distance', 'geoid']
    df_5 = pd.DataFrame(house['property'][0]['location'],index=[0])

    # df_6 ['absenteeInd', 'propclass', 'propsubtype', 'proptype', 'yearbuilt',
    #       'propLandUse', 'propIndicator', 'legal1']
    df_6 = pd.DataFrame(house['property'][0]['summary'],index=[0])

    #df_7 ['heatingtype']
    df_7 = pd.DataFrame(house['property'][0]['utilities'],index=[0])

    #df_8 **['size', 'rooms', 'interior', 'construction', 'parking', 'summary']** dict keys
    df_8 = pd.DataFrame(house['property'][0]['building'],index=[0])

    #df_9 ['lastModified', 'pubDate']
    df_9 = pd.DataFrame(house['property'][0]['vintage'],index=[0])
    
    # create new dfs based on df_8 dictionary keys

    # df_b1 ['bldgsize', 'grosssize', 'grosssizeadjusted', 'groundfloorsize',
    #       'livingsize', 'sizeInd', 'universalsize']
    df_b1 = pd.DataFrame(house['property'][0]['building']['size'],index=[0])

    # df_b2 ['bathfixtures', 'baths1qtr', 'baths3qtr', 'bathscalc', 'bathsfull',
    #       'bathshalf', 'bathstotal', 'beds', 'roomsTotal']
    df_b2 = pd.DataFrame(house['property'][0]['building']['rooms'],index=[0])

    #df_b3 ['bsmtsize', 'bsmttype', 'fplccount', 'fplcind', 'fplctype']
    df_b3 = pd.DataFrame(house['property'][0]['building']['interior'],index=[0])

    #df_b4 ['condition', 'wallType']
    df_b4 = pd.DataFrame(house['property'][0]['building']['construction'],index=[0])

    #df_b5 ['garagetype', 'prkgSize', 'prkgSpaces', 'prkgType']
    df_b5 = pd.DataFrame(house['property'][0]['building']['parking'],index=[0])

    #df_b6 ['bldgsNum', 'bldgType', 'imprType', 'levels', 'mobileHomeInd',
    #       'quality', 'storyDesc', 'unitsCount', 'yearbuilteffective']
    df_b6 = pd.DataFrame(house['property'][0]['building']['summary'],index=[0])
    
    ### AVM
    #df_v1 ['scr', 'value', 'high', 'low', 'valueRange']
    df_v1 = pd.DataFrame(house['property'][0]['avm']['amount'],index=[0])
    
    #df_v2 ['avmpoorlow', 'avmpoorhigh', 'avmpoorscore', 'avmgoodlow', 'avmgoodhigh', 
    #      'avmgoodscore', 'avmexcellentlow', 'avmexcellenthigh', 'avmexcellentscore']
    df_v2 = pd.DataFrame(house['property'][0]['avm']['condition'],index=[0])
    
    #df_v3 ['taxamt', 'taxpersizeunit', 'taxyear']
    df_v3 = pd.DataFrame(house['property'][0]['assessment']['tax'],index=[0])
    
    # Build df for property 1
    prop_1 = pd.concat([df_1['fips'],df_2,df_3,df_4,df_5,df_6,df_7,df_9,df_b1,
                        df_b2,df_b3,df_b4,df_b5,df_b6,df_v1,df_v2,df_v3],axis=1)
    
    return prop_1

Function to get bedrooms and taxes from atom

In [51]:
# get bed count and tax
df = extract_details(call_api_all('2960','Inca','St','UNIT','501','Denver','CO'))

In [52]:
df_sm = df[['beds','taxamt','countrySubd','countrysecsubd']]
df_sm

   beds  taxamt countrySubd countrysecsubd
0     3  5050.0          CO  Denver County

In [53]:
get_rent(3,'CO','Adams County')

2348

In [54]:
df['beds'][0]
df['countrySubd'][0]
df['countrysecsubd'][0]

'Denver County'

In [55]:
df_sm['rent'] = get_rent(df['beds'][0],df['countrySubd'][0],df['countrysecsubd'][0])
df_sm

/Users/scottrosengrants/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   beds  taxamt countrySubd countrysecsubd  rent
0     3  5050.0          CO  Denver County  2348

In [56]:
def coc(df,principal,cash):
    
    #calculate loan
    loan = Loan(principal, interest=.04, term=30)
    pymt = loan.monthly_payment
    
    #calculate re figures
    mti = float(df['rent'].loc[0])
    vr = float(mti * .05)
    er = float(mti * (.05 + .05))
    me = float((100 + 50)) #water & trash
    mfc = float(pymt)
    mt = float(df['taxamt'].loc[0]/12)
    mi = float(mt)  #(3000/12)
    # Composite
    mcf = mti - vr - er - me - mfc - mt - mi

    # Annual
    acf = np.round((mcf * 12),2)

    # Financial 
    tci = cash
    coc = np.round(((acf / tci) * 100),2)
    
    print(f'Your Annual Cashflow is ${acf} giving you a Cash-On-Cash return of {coc}%!')
    print(f'{mcf} = {mti} - {vr} - {er} - {me} - {mfc} - {mt} - {mi}')

In [57]:
coc(df_sm, 200_000, 100_000)

Your Annual Cashflow is $591.64 giving you a Cash-On-Cash return of 0.59%!
49.303333333333285 = 2348.0 - 117.4 - 234.8 - 150.0 - 954.83 - 420.8333333333333 - 420.8333333333333

In [58]:
# cheap prop
#4548 W Tennessee Ave, Denver, CO 80219
cheap = extract_details(call_api_all('4548','Tennessee','Ave','Denver','CO'))

In [59]:
cheap_sm = cheap[['beds','taxamt','countrySubd','countrysecsubd']].copy()
cheap_sm['rent'] = get_rent(cheap_sm['beds'][0],cheap_sm['countrySubd'][0],cheap_sm['countrysecsubd'][0])
coc(cheap_sm,200_000,50_000)

Your Annual Cashflow is $-1410.56 giving you a Cash-On-Cash return of -2.82%!
-117.54666666666665 = 1367.0 - 68.35000000000001 - 136.70000000000002 - 150.0 - 954.83 - 87.33333333333333 - 87.33333333333333

In [60]:
cheap['oneLine']

0    4548 W TENNESSEE AVE, DENVER, CO 80219
Name: oneLine, dtype: object

In [61]:
cheap_sm['rent']

0    1367
Name: rent, dtype: int64

In [62]:
#1235 S Sheffield Ave, Indianapolis, IN 46221
#https://www.zillow.com/homedetails/1235-S-Sheffield-Ave-Indianapolis-IN-46221/1293691_zpid/
#$89,000
indy = extract_details(call_api_all('1235','Sheffield','Ave','Indianapolis','IN'))

In [63]:
indy_sm = indy[['beds','taxamt','countrySubd','countrysecsubd']].copy()
indy_sm['rent'] = get_rent(indy_sm['beds'][0],indy_sm['countrySubd'][0],indy_sm['countrysecsubd'][0])
coc(indy_sm,76_500,22_500)

Your Annual Cashflow is $2588.96 giving you a Cash-On-Cash return of 11.51%!
215.74666666666658 = 1008.0 - 50.400000000000006 - 100.80000000000001 - 150.0 - 365.22 - 62.916666666666664 - 62.916666666666664

In [64]:
def results(principal, cash, bld_num,street,str_type,unit=None,unit_num=None,city=None,state=None):
    prop = extract_details(call_api_all(bld_num,street,str_type,unit,unit_num,city,state))
    prop_sm = prop[['beds','taxamt','countrySubd','countrysecsubd']].copy() 
    prop_sm['rent'] = get_rent(prop_sm['beds'].loc[0],prop_sm['countrySubd'].loc[0],prop_sm['countrysecsubd'].loc[0])
    print(coc(prop_sm,principal,cash))
    return prop

In [65]:
results(76_500,22_500,'1235','Sheffield','Ave','Indianapolis','IN')

Your Annual Cashflow is $2588.96 giving you a Cash-On-Cash return of 11.51%!
215.74666666666658 = 1008.0 - 50.400000000000006 - 100.80000000000001 - 150.0 - 365.22 - 62.916666666666664 - 62.916666666666664
None

,fips,depth,frontage,lotnum,lotsize1,lotsize2,pooltype,blockNum,countrysecsubd,countyuse1,...,avmpoorscore,avmgoodlow,avmgoodhigh,avmgoodscore,avmexcellentlow,avmexcellenthigh,avmexcellentscore,taxamt,taxpersizeunit,taxyear
0,18097,153,35,62,0.123,5358,NONE,6,Marion County,510,...,31.0,30000.0,75000.0,36.0,30750.0,76875.0,38.5,755.0,0.87,2018

In [66]:
#https://www.zillow.com/homedetails/2932-Holland-Ave-Bronx-NY-10467/29823960_zpid/
#2932 Holland Ave, Bronx, NY 10467
#779,000
bronx = results(663_000,195_000,'2932','Holland','Ave','Bronx','NY')

Your Annual Cashflow is $-32116.92 giving you a Cash-On-Cash return of -16.47%!
-2676.4100000000003 = 1821.0 - 91.05000000000001 - 182.10000000000002 - 150.0 - 3165.26 - 454.5 - 454.5
None

In [67]:
bronx['beds']

0    0
Name: beds, dtype: int64

In [68]:
#https://www.zillow.com/homedetails/1907-Bellevue-Ave-Los-Angeles-CA-90026/20739702_zpid/
#1907 Bellevue Ave, Los Angeles, CA 90026
#599,000
la = results(450_000,150_000,'1907','Bellevue','Ave','LosAngeles','CA')

Your Annual Cashflow is $-21017.84 giving you a Cash-On-Cash return of -14.01%!
-1751.4866666666667 = 2113.0 - 105.65 - 211.3 - 150.0 - 2148.37 - 624.5833333333334 - 624.5833333333334
None

In [69]:
la['oneLine']

0    1907 BELLEVUE AVE, LOS ANGELES, CA 90026
Name: oneLine, dtype: object

In [70]:
#https://www.zillow.com/homedetails/1391-Mount-Vernon-Ave-Columbus-OH-43203/33852609_zpid/
#1391 Mount Vernon Ave, Columbus, OH 43203
#185,000
columbus = results(138_750,46_250,'1391','Mount','Ave','Columbus','OH')

Your Annual Cashflow is $6091.68 giving you a Cash-On-Cash return of 13.17%!
507.64 = 1553.0 - 77.65 - 155.3 - 150.0 - 662.41 - 0.0 - 0.0
None

In [45]:
columbus['oneLine']

0    1391 MOUNT VERNON AVE, COLUMBUS, OH 43203
Name: oneLine, dtype: object

In [71]:
columbus.columns

Index(['fips', 'depth', 'frontage', 'lotsize1', 'lotsize2', 'pooltype',
       'countrysecsubd', 'countyuse1', 'muncode', 'munname', 'subdname',
       'subdtractnum', 'taxcodearea', 'country', 'countrySubd', 'line1',
       'line2', 'locality', 'matchCode', 'oneLine', 'postal1', 'postal2',
       'postal3', 'accuracy', 'elevation', 'latitude', 'longitude', 'distance',
       'geoid', 'absenteeInd', 'propclass', 'propsubtype', 'proptype',
       'yearbuilt', 'propLandUse', 'propIndicator', 'legal1', 'energyType',
       'lastModified', 'pubDate', 'bldgsize', 'grosssize', 'grosssizeadjusted',
       'groundfloorsize', 'livingsize', 'sizeInd', 'universalsize',
       'bathfixtures', 'baths1qtr', 'baths3qtr', 'bathscalc', 'bathsfull',
       'bathshalf', 'bathstotal', 'beds', 'roomsTotal', 'bsmtsize',
       'fplccount', 'condition', 'foundationtype', 'wallType', 'prkgSize',
       'archStyle', 'bldgsNum', 'bldgType', 'imprType', 'levels',
       'mobileHomeInd', 'storyDesc', 'unitsCount', 'yearbuilteffective', 'scr',
       'value', 'high', 'low', 'valueRange', 'avmpoorlow', 'avmpoorhigh',
       'avmpoorscore', 'avmgoodlow', 'avmgoodhigh', 'avmgoodscore',
       'avmexcellentlow', 'avmexcellenthigh', 'avmexcellentscore', 'taxamt',
       'taxpersizeunit', 'taxyear'],
      dtype='object')

In [72]:
columbus['fips']

0    39049
Name: fips, dtype: object

In [356]:
data = pd.read_csv('../data/mortgage_model.csv',dtype={'county_code':str})

In [357]:
data.columns

Index(['lei', 'county_code', 'census_tract', 'preapproval', 'loan_amount',
       'combined_loan_to_value_ratio', 'interest_rate', 'loan_term',
       'interest_only_payment', 'balloon_payment', 'property_value',
       'occupancy_type', 'total_units', 'income', 'debt_to_income_ratio',
       'submission_of_application', 'denial_reason_1', 'tract_population',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units', 'state_code_AL', 'state_code_AR',
       'state_code_AZ', 'state_code_CA', 'state_code_CO', 'state_code_CT',
       'state_code_DC', 'state_code_DE', 'state_code_FL', 'state_code_GA',
       'state_code_GU', 'state_code_HI', 'state_code_IA', 'state_code_ID',
       'state_code_IL', 'state_code_IN', 'state_code_KS', 'state_code_KY',
       'state_code_LA', 'state_code_MA', 'state_code_MD', 'state_code_ME',
       'state_code_MI', 'state_code_MN', 'state_code_MO', 'state_code_MS',
       'state_code_MT', 'state_code_NC', 'state_code_ND', 'state_code_NE',
       'state_code_NH', 'state_code_NJ', 'state_code_NM', 'state_code_NV',
       'state_code_NY', 'state_code_OH', 'state_code_OK', 'state_code_OR',
       'state_code_PA', 'state_code_PR', 'state_code_RI', 'state_code_SC',
       'state_code_SD', 'state_code_TN', 'state_code_TX', 'state_code_UT',
       'state_code_VA', 'state_code_VT', 'state_code_WA', 'state_code_WI',
       'state_code_WV', 'state_code_WY', 'loan_type_2', 'loan_type_3',
       'loan_type_4'],
      dtype='object')

In [359]:
data.dtypes

lei               object
county_code       object
census_tract     float64
preapproval        int64
loan_amount      float64
                  ...
state_code_WV      int64
state_code_WY      int64
loan_type_2        int64
loan_type_3        int64
loan_type_4        int64
Length: 78, dtype: object

In [361]:
data[data['county_code'] == '08059']

,lei,county_code,census_tract,preapproval,loan_amount,combined_loan_to_value_ratio,interest_rate,loan_term,interest_only_payment,balloon_payment,...,state_code_UT,state_code_VA,state_code_VT,state_code_WA,state_code_WI,state_code_WV,state_code_WY,loan_type_2,loan_type_3,loan_type_4
430321,549300QURAICH2YGJV94,08059,8.059011e+09,0,365000.0,75.00,4.750,360.0,1,1,...,0,0,0,0,0,0,0,0,0,0
1030259,549300PC3UFCCSVKTR08,08059,8.059012e+09,1,375000.0,95.00,3.750,360.0,1,1,...,0,0,0,0,0,0,0,0,0,0
1030399,7DMUJTL9FFTVIAG9H788,08059,8.059012e+09,1,225000.0,89.84,4.000,240.0,1,1,...,0,0,0,0,0,0,0,0,0,0
1031078,7DMUJTL9FFTVIAG9H788,08059,8.059011e+09,1,205000.0,73.47,3.750,360.0,1,1,...,0,0,0,0,0,0,0,0,0,0
2149694,549300RD5IG88VPO6P22,08059,8.059012e+09,1,285000.0,88.62,4.750,360.0,1,1,...,0,0,0,0,0,0,0,0,0,0
2153463,KB1H1DSPRFMYMCUFXT09,08059,8.059012e+09,1,455000.0,60.00,4.375,360.0,1,1,...,0,0,0,0,0,0,0,0,1,0
2153522,KB1H1DSPRFMYMCUFXT09,08059,8.059012e+09,1,525000.0,75.00,4.875,360.0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [367]:
#create fips index data based on 'county_code'
fips = data[['county_code', 'census_tract','tract_population',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units']]

In [368]:
fips.head()

,county_code,census_tract,tract_population,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,21043.0,2.104396e+10,6445,49400,96,1876,2603,30
1,21111.0,2.111101e+10,3538,70400,67,997,1406,59
2,21239.0,2.123905e+10,3756,70100,101,1037,1648,37
3,21167.0,2.116796e+10,4349,49400,103,1130,1806,52
4,21097.0,2.109795e+10,5406,49400,95,1280,2352,39

In [369]:
len(fips)

2671686

In [370]:
fips['county_code'].dtypes

dtype('O')

In [371]:
# remove all duplicate counties 
fips.drop_duplicates(subset='county_code', inplace=True)

/Users/scottrosengrants/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [372]:
len(fips)

6143

In [374]:
fips[fips['county_code'] == '08059']

,county_code,census_tract,tract_population,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
430321,08059,8.059011e+09,4410,89900,103,1320,1891,45

In [375]:
# save the fips index data
fips.to_csv('../data/fips.csv',index=False)

## Import Model

In [376]:
from sklearn.preprocessing import StandardScaler
from keras.utils import to_categorical
from sklearn.metrics import accuracy_score
from tensorflow.keras.models import load_model

# For reproducibility
np.random.seed(42)
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPooling2D
from tensorflow.keras import utils

In [377]:
model = load_model('../models/binary_nn.h5')

In [378]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               9600
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 24)                3096
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 50
=================================================================
Total params: 12,746
Trainable params: 12,746
Non-trainable params: 0
_________________________________________________________________

### Feedin Input into the Model (Pre-Processing)

In [379]:
data.columns

Index(['lei', 'county_code', 'census_tract', 'preapproval', 'loan_amount',
       'combined_loan_to_value_ratio', 'interest_rate', 'loan_term',
       'interest_only_payment', 'balloon_payment', 'property_value',
       'occupancy_type', 'total_units', 'income', 'debt_to_income_ratio',
       'submission_of_application', 'denial_reason_1', 'tract_population',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units', 'state_code_AL', 'state_code_AR',
       'state_code_AZ', 'state_code_CA', 'state_code_CO', 'state_code_CT',
       'state_code_DC', 'state_code_DE', 'state_code_FL', 'state_code_GA',
       'state_code_GU', 'state_code_HI', 'state_code_IA', 'state_code_ID',
       'state_code_IL', 'state_code_IN', 'state_code_KS', 'state_code_KY',
       'state_code_LA', 'state_code_MA', 'state_code_MD', 'state_code_ME',
       'state_code_MI', 'state_code_MN', 'state_code_MO', 'state_code_MS',
       'state_code_MT', 'state_code_NC', 'state_code_ND', 'state_code_NE',
       'state_code_NH', 'state_code_NJ', 'state_code_NM', 'state_code_NV',
       'state_code_NY', 'state_code_OH', 'state_code_OK', 'state_code_OR',
       'state_code_PA', 'state_code_PR', 'state_code_RI', 'state_code_SC',
       'state_code_SD', 'state_code_TN', 'state_code_TX', 'state_code_UT',
       'state_code_VA', 'state_code_VT', 'state_code_WA', 'state_code_WI',
       'state_code_WV', 'state_code_WY', 'loan_type_2', 'loan_type_3',
       'loan_type_4'],
      dtype='object')

In [380]:
X = data.drop(columns=['lei','debt_to_income_ratio','denial_reason_1','county_code'])

In [381]:
X.columns

Index(['census_tract', 'preapproval', 'loan_amount',
       'combined_loan_to_value_ratio', 'interest_rate', 'loan_term',
       'interest_only_payment', 'balloon_payment', 'property_value',
       'occupancy_type', 'total_units', 'income', 'submission_of_application',
       'tract_population', 'ffiec_msa_md_median_family_income',
       'tract_to_msa_income_percentage', 'tract_owner_occupied_units',
       'tract_one_to_four_family_homes', 'tract_median_age_of_housing_units',
       'state_code_AL', 'state_code_AR', 'state_code_AZ', 'state_code_CA',
       'state_code_CO', 'state_code_CT', 'state_code_DC', 'state_code_DE',
       'state_code_FL', 'state_code_GA', 'state_code_GU', 'state_code_HI',
       'state_code_IA', 'state_code_ID', 'state_code_IL', 'state_code_IN',
       'state_code_KS', 'state_code_KY', 'state_code_LA', 'state_code_MA',
       'state_code_MD', 'state_code_ME', 'state_code_MI', 'state_code_MN',
       'state_code_MO', 'state_code_MS', 'state_code_MT', 'state_code_NC',
       'state_code_ND', 'state_code_NE', 'state_code_NH', 'state_code_NJ',
       'state_code_NM', 'state_code_NV', 'state_code_NY', 'state_code_OH',
       'state_code_OK', 'state_code_OR', 'state_code_PA', 'state_code_PR',
       'state_code_RI', 'state_code_SC', 'state_code_SD', 'state_code_TN',
       'state_code_TX', 'state_code_UT', 'state_code_VA', 'state_code_VT',
       'state_code_WA', 'state_code_WI', 'state_code_WV', 'state_code_WY',
       'loan_type_2', 'loan_type_3', 'loan_type_4'],
      dtype='object')

In [158]:
state_list = [
'state_code_AL',
'state_code_AR',
'state_code_AZ', 
'state_code_CA',
'state_code_CO', 
'state_code_CT', 
'state_code_DC', 
'state_code_DE',
'state_code_FL',
'state_code_GA', 
'state_code_GU', 
'state_code_HI',
'state_code_IA', 
'state_code_ID', 
'state_code_IL', 
'state_code_IN',
'state_code_KS', 
'state_code_KY', 
'state_code_LA', 
'state_code_MA',
'state_code_MD', 
'state_code_ME', 
'state_code_MI', 
'state_code_MN',
'state_code_MO', 
'state_code_MS', 
'state_code_MT', 
'state_code_NC',
'state_code_ND', 
'state_code_NE', 
'state_code_NH', 
'state_code_NJ',
'state_code_NM', 
'state_code_NV', 
'state_code_NY', 
'state_code_OH',
'state_code_OK', 
'state_code_OR', 
'state_code_PA', 
'state_code_PR',
'state_code_RI', 
'state_code_SC', 
'state_code_SD', 
'state_code_TN',
'state_code_TX', 
'state_code_UT', 
'state_code_VA', 
'state_code_VT',
'state_code_WA', 
'state_code_WI', 
'state_code_WV', 
'state_code_WY',
]

In [160]:
state_dict = {}
for state in state_list:
    state_dict.update({state:[0]})

In [161]:
state_dict

{'state_code_AL': [0],
 'state_code_AR': [0],
 'state_code_AZ': [0],
 'state_code_CA': [0],
 'state_code_CO': [0],
 'state_code_CT': [0],
 'state_code_DC': [0],
 'state_code_DE': [0],
 'state_code_FL': [0],
 'state_code_GA': [0],
 'state_code_GU': [0],
 'state_code_HI': [0],
 'state_code_IA': [0],
 'state_code_ID': [0],
 'state_code_IL': [0],
 'state_code_IN': [0],
 'state_code_KS': [0],
 'state_code_KY': [0],
 'state_code_LA': [0],
 'state_code_MA': [0],
 'state_code_MD': [0],
 'state_code_ME': [0],
 'state_code_MI': [0],
 'state_code_MN': [0],
 'state_code_MO': [0],
 'state_code_MS': [0],
 'state_code_MT': [0],
 'state_code_NC': [0],
 'state_code_ND': [0],
 'state_code_NE': [0],
 'state_code_NH': [0],
 'state_code_NJ': [0],
 'state_code_NM': [0],
 'state_code_NV': [0],
 'state_code_NY': [0],
 'state_code_OH': [0],
 'state_code_OK': [0],
 'state_code_OR': [0],
 'state_code_PA': [0],
 'state_code_PR': [0],
 'state_code_RI': [0],
 'state_code_SC': [0],
 'state_code_SD': [0],
 'state_code_TN': [0],
 'state_code_TX': [0],
 'state_code_UT': [0],
 'state_code_VA': [0],
 'state_code_VT': [0],
 'state_code_WA': [0],
 'state_code_WI': [0],
 'state_code_WV': [0],
 'state_code_WY': [0]}

In [382]:
states_df = pd.DataFrame.from_dict(state_dict)
states_df.head()

,state_code_AL,state_code_AR,state_code_AZ,state_code_CA,state_code_CO,state_code_CT,state_code_DC,state_code_DE,state_code_FL,state_code_GA,...,state_code_SD,state_code_TN,state_code_TX,state_code_UT,state_code_VA,state_code_VT,state_code_WA,state_code_WI,state_code_WV,state_code_WY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [163]:
first_list = [
'county_code',
'census_tract',
'preapproval',
'loan_amount',
'combined_loan_to_value_ratio',
'interest_rate',
'loan_term',
'interest_only_payment',
'balloon_payment',
'property_value',
'occupancy_type',
'total_units',
'income',
'submission_of_application',
'tract_population',
'ffiec_msa_md_median_family_income',
'tract_to_msa_income_percentage',
'tract_owner_occupied_units',
'tract_one_to_four_family_homes',
'tract_median_age_of_housing_units'
]

In [165]:
first_dict = {}
for i in first_list:
    first_dict.update({i:[0]})

In [166]:
first_dict

{'county_code': [0],
 'census_tract': [0],
 'preapproval': [0],
 'loan_amount': [0],
 'combined_loan_to_value_ratio': [0],
 'interest_rate': [0],
 'loan_term': [0],
 'interest_only_payment': [0],
 'balloon_payment': [0],
 'property_value': [0],
 'occupancy_type': [0],
 'total_units': [0],
 'income': [0],
 'submission_of_application': [0],
 'tract_population': [0],
 'ffiec_msa_md_median_family_income': [0],
 'tract_to_msa_income_percentage': [0],
 'tract_owner_occupied_units': [0],
 'tract_one_to_four_family_homes': [0],
 'tract_median_age_of_housing_units': [0]}

In [167]:
second_dict = {
'loan_type_2':[0], 
'loan_type_3':[0], 
'loan_type_4':[0] 
}

In [168]:
first_dict.update(state_dict)

In [170]:
first_dict.update(second_dict)

In [173]:
first_dict

{'county_code': [0],
 'census_tract': [0],
 'preapproval': [0],
 'loan_amount': [0],
 'combined_loan_to_value_ratio': [0],
 'interest_rate': [0],
 'loan_term': [0],
 'interest_only_payment': [0],
 'balloon_payment': [0],
 'property_value': [0],
 'occupancy_type': [0],
 'total_units': [0],
 'income': [0],
 'submission_of_application': [0],
 'tract_population': [0],
 'ffiec_msa_md_median_family_income': [0],
 'tract_to_msa_income_percentage': [0],
 'tract_owner_occupied_units': [0],
 'tract_one_to_four_family_homes': [0],
 'tract_median_age_of_housing_units': [0],
 'state_code_AL': [0],
 'state_code_AR': [0],
 'state_code_AZ': [0],
 'state_code_CA': [0],
 'state_code_CO': [0],
 'state_code_CT': [0],
 'state_code_DC': [0],
 'state_code_DE': [0],
 'state_code_FL': [0],
 'state_code_GA': [0],
 'state_code_GU': [0],
 'state_code_HI': [0],
 'state_code_IA': [0],
 'state_code_ID': [0],
 'state_code_IL': [0],
 'state_code_IN': [0],
 'state_code_KS': [0],
 'state_code_KY': [0],
 'state_code_LA': [0],
 'state_code_MA': [0],
 'state_code_MD': [0],
 'state_code_ME': [0],
 'state_code_MI': [0],
 'state_code_MN': [0],
 'state_code_MO': [0],
 'state_code_MS': [0],
 'state_code_MT': [0],
 'state_code_NC': [0],
 'state_code_ND': [0],
 'state_code_NE': [0],
 'state_code_NH': [0],
 'state_code_NJ': [0],
 'state_code_NM': [0],
 'state_code_NV': [0],
 'state_code_NY': [0],
 'state_code_OH': [0],
 'state_code_OK': [0],
 'state_code_OR': [0],
 'state_code_PA': [0],
 'state_code_PR': [0],
 'state_code_RI': [0],
 'state_code_SC': [0],
 'state_code_SD': [0],
 'state_code_TN': [0],
 'state_code_TX': [0],
 'state_code_UT': [0],
 'state_code_VA': [0],
 'state_code_VT': [0],
 'state_code_WA': [0],
 'state_code_WI': [0],
 'state_code_WV': [0],
 'state_code_WY': [0],
 'loan_type_2': [0],
 'loan_type_3': [0],
 'loan_type_4': [0]}

In [383]:
user_df = pd.DataFrame.from_dict(first_dict)
user_df.head()

,county_code,census_tract,preapproval,loan_amount,combined_loan_to_value_ratio,interest_rate,loan_term,interest_only_payment,balloon_payment,property_value,...,state_code_UT,state_code_VA,state_code_VT,state_code_WA,state_code_WI,state_code_WV,state_code_WY,loan_type_2,loan_type_3,loan_type_4
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#columbus = results(138_750,46_250,'1391','Mount','Ave','Columbus','OH')

In [384]:
columbus.columns

Index(['fips', 'depth', 'frontage', 'lotsize1', 'lotsize2', 'pooltype',
       'countrysecsubd', 'countyuse1', 'muncode', 'munname', 'subdname',
       'subdtractnum', 'taxcodearea', 'country', 'countrySubd', 'line1',
       'line2', 'locality', 'matchCode', 'oneLine', 'postal1', 'postal2',
       'postal3', 'accuracy', 'elevation', 'latitude', 'longitude', 'distance',
       'geoid', 'absenteeInd', 'propclass', 'propsubtype', 'proptype',
       'yearbuilt', 'propLandUse', 'propIndicator', 'legal1', 'energyType',
       'lastModified', 'pubDate', 'bldgsize', 'grosssize', 'grosssizeadjusted',
       'groundfloorsize', 'livingsize', 'sizeInd', 'universalsize',
       'bathfixtures', 'baths1qtr', 'baths3qtr', 'bathscalc', 'bathsfull',
       'bathshalf', 'bathstotal', 'beds', 'roomsTotal', 'bsmtsize',
       'fplccount', 'condition', 'foundationtype', 'wallType', 'prkgSize',
       'archStyle', 'bldgsNum', 'bldgType', 'imprType', 'levels',
       'mobileHomeInd', 'storyDesc', 'unitsCount', 'yearbuilteffective', 'scr',
       'value', 'high', 'low', 'valueRange', 'avmpoorlow', 'avmpoorhigh',
       'avmpoorscore', 'avmgoodlow', 'avmgoodhigh', 'avmgoodscore',
       'avmexcellentlow', 'avmexcellenthigh', 'avmexcellentscore', 'taxamt',
       'taxpersizeunit', 'taxyear'],
      dtype='object')

In [286]:
columbus[['countrysecsubd', 'countyuse1', 'muncode', 'munname', 'subdname',
       'subdtractnum', 'taxcodearea', 'country', 'countrySubd', 'line1',
       'line2', 'locality', 'matchCode', 'oneLine', 'postal1', 'postal2',
       'postal3']]

,countrysecsubd,countyuse1,muncode,munname,subdname,subdtractnum,taxcodearea,country,countrySubd,line1,line2,locality,matchCode,oneLine,postal1,postal2,postal3
0,Franklin County,625,FR,FRANKLIN,BENJAMIN MONETTS MOUNT VERNON,0,10,US,OH,1391 MOUNT VERNON AVE,"COLUMBUS, OH 43203",Columbus,ExaStr,"1391 MOUNT VERNON AVE, COLUMBUS, OH 43203",43203,1612,C009

In [392]:
mask = fips['county_code'] == '08059'
fips[mask]

,county_code,census_tract,tract_population,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
430321,08059,8.059011e+09,4410,89900,103,1320,1891,45

In [397]:
def apply_census(fips_num, user_df):
    mask = fips['county_code'] == fips_num
    df = fips[mask]
    user_df['county_code'] = fips_num
    user_df['census_tract'] = int(df['census_tract'])
    user_df['tract_population'] = int(df['tract_population'])
    user_df['ffiec_msa_md_median_family_income'] = float(df['ffiec_msa_md_median_family_income'])
    user_df['tract_to_msa_income_percentage'] = float(df['tract_to_msa_income_percentage'])
    user_df['tract_owner_occupied_units'] = float(df['tract_owner_occupied_units'])
    user_df['tract_one_to_four_family_homes'] = float(df['tract_one_to_four_family_homes'])
    user_df['tract_median_age_of_housing_units'] = float(df['tract_median_age_of_housing_units'])
    return user_df

In [401]:
# try on api address
user_df = apply_census(columbus['fips'].loc[0], user_df)

In [398]:
# try on county with a floating zero
user_df = apply_census('08059', user_df)

In [402]:
user_df.loc[0]

county_code                           39049
census_tract                    39049006721
preapproval                               0
loan_amount                               0
combined_loan_to_value_ratio              0
                                   ...
state_code_WV                             0
state_code_WY                             0
loan_type_2                               0
loan_type_3                               0
loan_type_4                               0
Name: 0, Length: 75, dtype: object

In [403]:
user_df[['county_code', 'census_tract', 'tract_population',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units']]

,county_code,census_tract,tract_population,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,39049,39049006721,3340,76000.0,197.0,1233.0,1295.0,48.0

In [404]:
def add_units(property_df, user_df):
    user_df['total_units'] = int(property_df['unitsCount'])
    return user_df

In [405]:
user_df = add_units(columbus, user_df)

In [406]:
user_df['total_units']

0    1
Name: total_units, dtype: int64

In [407]:
columbus['countrySubd'].loc[0]

'OH'

In [408]:
def add_state(property_df, user_df):
    column = 'state_code_' + property_df['countrySubd'].loc[0]
    user_df[column] = 1
    return user_df

In [409]:
user_df = add_state(columbus, user_df)

In [410]:
user_df['state_code_OH']

0    1
Name: state_code_OH, dtype: int64

In [411]:
user_df.columns

Index(['county_code', 'census_tract', 'preapproval', 'loan_amount',
       'combined_loan_to_value_ratio', 'interest_rate', 'loan_term',
       'interest_only_payment', 'balloon_payment', 'property_value',
       'occupancy_type', 'total_units', 'income', 'submission_of_application',
       'tract_population', 'ffiec_msa_md_median_family_income',
       'tract_to_msa_income_percentage', 'tract_owner_occupied_units',
       'tract_one_to_four_family_homes', 'tract_median_age_of_housing_units',
       'state_code_AL', 'state_code_AR', 'state_code_AZ', 'state_code_CA',
       'state_code_CO', 'state_code_CT', 'state_code_DC', 'state_code_DE',
       'state_code_FL', 'state_code_GA', 'state_code_GU', 'state_code_HI',
       'state_code_IA', 'state_code_ID', 'state_code_IL', 'state_code_IN',
       'state_code_KS', 'state_code_KY', 'state_code_LA', 'state_code_MA',
       'state_code_MD', 'state_code_ME', 'state_code_MI', 'state_code_MN',
       'state_code_MO', 'state_code_MS', 'state_code_MT', 'state_code_NC',
       'state_code_ND', 'state_code_NE', 'state_code_NH', 'state_code_NJ',
       'state_code_NM', 'state_code_NV', 'state_code_NY', 'state_code_OH',
       'state_code_OK', 'state_code_OR', 'state_code_PA', 'state_code_PR',
       'state_code_RI', 'state_code_SC', 'state_code_SD', 'state_code_TN',
       'state_code_TX', 'state_code_UT', 'state_code_VA', 'state_code_VT',
       'state_code_WA', 'state_code_WI', 'state_code_WV', 'state_code_WY',
       'loan_type_2', 'loan_type_3', 'loan_type_4'],
      dtype='object')

Conv = 1
FHA = 2
VA = 3
FSA/RHS = 4

In [412]:
data['submission_of_application']

0          0
1          0
2          0
3          0
4          0
          ..
2671681    0
2671682    0
2671683    1
2671684    0
2671685    0
Name: submission_of_application, Length: 2671686, dtype: int64

In [416]:
def user_inputs(user_df):
    price = float(input('Property price?'))
    preapproval = input('Are you preapproved? (0=NO, 1=YES)')
    downpayment_perc = float(input('Downpayment percent: (.25)'))
    interest_rate = float(input('Interest Rate (4.5)')) 
    loan_term = int(input('Loan term in months?'))
    interest_only_payment = input('Interest only? (1=NO, 0=YES)')
    loan = int(input('Enter loan type (1 = Conv, 2 = FHA, 3 = VA, 4 = FSA/RHS)'))
    balloon_payment = input('Balloon payment(1=NO, 0=YES)')
    occupancy_type = input('Will this property be your primary residence? (1=YES, 0=NO)')
    income = int(input('Enter your annual income'))
    submission_of_application = input('Are you working directly with a bank? (1=NO, 0=YES)')
                 
    loan_amount = price * (1-downpayment_perc)
    combined_loan_to_value_ratio = loan_amount / price
    income = income/1000
                 
    user_df['preapproval'] = int(preapproval)
    user_df['loan_amount'] = loan_amount
    user_df['combined_loan_to_value_ratio'] = combined_loan_to_value_ratio   
    user_df['interest_rate'] = interest_rate
    user_df['loan_term'] = int(loan_term) 
    user_df['interest_only_payment'] = int(interest_only_payment) 
    user_df['balloon_payment'] = int(balloon_payment)
    user_df['property_value'] = int(price)
    user_df['occupancy_type'] = int(occupancy_type)
    user_df['income'] = int(income)             
    user_df['submission_of_application'] = int(submission_of_application)   
    
    if loan == 2:
        user_df['loan_type_2'] = 1
    elif loan == 3:
        user_df['loan_type_3'] = 1
    elif loan == 4:
        user_df['loan_type_4'] = 1
    return user_df

# def add_user(user):
#     return user_df.append(user, ignore_index=True)

In [417]:
user_df = user_inputs(user_df)

Property price?200000
Are you preapproved? (0=NO, 1=YES)1
Downpayment percent: (.25).35
Interest Rate (4.5)4
Loan term in months?360
Interest only? (1=NO, 0=YES)1
Enter loan type (1 = Conv, 2 = FHA, 3 = VA, 4 = FSA/RHS)1
Balloon payment(1=NO, 0=YES)1
Will this property be your primary residence? (1=YES, 0=NO)1
Enter your annual income100000
Are you working directly with a bank? (1=NO, 0=YES)1

In [418]:
user_df[['county_code', 'census_tract', 'preapproval', 'loan_amount',
       'combined_loan_to_value_ratio', 'interest_rate', 'loan_term',
       'interest_only_payment', 'balloon_payment', 'property_value',
       'occupancy_type', 'total_units', 'income', 'submission_of_application']].dtypes

county_code                      object
census_tract                      int64
preapproval                       int64
loan_amount                     float64
combined_loan_to_value_ratio    float64
interest_rate                   float64
loan_term                         int64
interest_only_payment             int64
balloon_payment                   int64
property_value                    int64
occupancy_type                    int64
total_units                       int64
income                            int64
submission_of_application         int64
dtype: object

In [419]:
user_df[['county_code', 'census_tract', 'preapproval', 'loan_amount',
       'combined_loan_to_value_ratio', 'interest_rate', 'loan_term',
       'interest_only_payment', 'balloon_payment', 'property_value',
       'occupancy_type', 'total_units', 'income', 'submission_of_application',
        'loan_type_2', 'loan_type_3', 'loan_type_4']]

,county_code,census_tract,preapproval,loan_amount,combined_loan_to_value_ratio,interest_rate,loan_term,interest_only_payment,balloon_payment,property_value,occupancy_type,total_units,income,submission_of_application,loan_type_2,loan_type_3,loan_type_4
0,39049,39049006721,1,130000.0,0.65,4.0,360,1,1,200000,1,1,100,1,0,0,0

In [420]:
user_df.isnull().sum().sum()

0

In [421]:
data.columns

Index(['lei', 'county_code', 'census_tract', 'preapproval', 'loan_amount',
       'combined_loan_to_value_ratio', 'interest_rate', 'loan_term',
       'interest_only_payment', 'balloon_payment', 'property_value',
       'occupancy_type', 'total_units', 'income', 'debt_to_income_ratio',
       'submission_of_application', 'denial_reason_1', 'tract_population',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units', 'state_code_AL', 'state_code_AR',
       'state_code_AZ', 'state_code_CA', 'state_code_CO', 'state_code_CT',
       'state_code_DC', 'state_code_DE', 'state_code_FL', 'state_code_GA',
       'state_code_GU', 'state_code_HI', 'state_code_IA', 'state_code_ID',
       'state_code_IL', 'state_code_IN', 'state_code_KS', 'state_code_KY',
       'state_code_LA', 'state_code_MA', 'state_code_MD', 'state_code_ME',
       'state_code_MI', 'state_code_MN', 'state_code_MO', 'state_code_MS',
       'state_code_MT', 'state_code_NC', 'state_code_ND', 'state_code_NE',
       'state_code_NH', 'state_code_NJ', 'state_code_NM', 'state_code_NV',
       'state_code_NY', 'state_code_OH', 'state_code_OK', 'state_code_OR',
       'state_code_PA', 'state_code_PR', 'state_code_RI', 'state_code_SC',
       'state_code_SD', 'state_code_TN', 'state_code_TX', 'state_code_UT',
       'state_code_VA', 'state_code_VT', 'state_code_WA', 'state_code_WI',
       'state_code_WV', 'state_code_WY', 'loan_type_2', 'loan_type_3',
       'loan_type_4'],
      dtype='object')

In [424]:
#scale user data
ss = StandardScaler()
# data to train scaler 
X = data.drop(columns=['lei','debt_to_income_ratio','denial_reason_1','county_code'])
ss.fit(X)
user_scaled = ss.transform(user_df.drop(columns=['county_code']))

In [425]:
user_scaled

array([[ 6.94656256e-01,  2.66005552e-01, -6.00806531e-01,
        -5.86830517e+00, -1.36699726e+00,  2.35220897e-01,
         1.26023268e-01,  6.59731374e-02, -6.29334860e-02,
         2.78941952e-01,  7.26439291e+00, -1.40324895e-02,
         2.36497547e+00, -7.44565769e-01,  6.50025237e-02,
         1.96972349e+00, -2.88615703e-01, -6.49823208e-01,
         7.22713388e-01, -1.09014768e-01, -9.25397519e-02,
        -1.87504807e-01, -3.26210471e-01, -1.64470386e-01,
        -1.05856343e-01, -4.11071812e-02, -5.99290561e-02,
        -2.89443413e-01, -1.91912569e-01, -2.28914050e-03,
        -5.24261324e-02, -8.82920723e-02, -9.60190364e-02,
        -2.04485556e-01, -1.56756796e-01, -9.27780831e-02,
        -1.12060900e-01, -1.03502890e-01, -1.44285938e-01,
        -1.42993870e-01, -5.86576412e-02, -1.76129200e-01,
        -1.40671925e-01, -1.34555263e-01, -7.68398242e-02,
        -6.05330974e-02, -1.97732992e-01, -4.48945215e-02,
        -7.80164084e-02, -6.88886747e-02, -1.69585848e-01,
        -7.61691121e-02, -1.12544478e-01, -1.96127112e-01,
         5.07347257e+00, -1.06130786e-01, -1.23606103e-01,
        -1.87629904e-01, -4.23715029e-02, -5.76761524e-02,
        -1.26749279e-01, -5.51795152e-02, -1.47782960e-01,
        -3.03169977e-01, -1.30205115e-01, -1.63535394e-01,
        -4.47729809e-02, -1.68014327e-01, -1.36926192e-01,
        -5.58982991e-02, -4.39470663e-02, -4.92694750e-01,
        -3.08447712e-01, -1.64591574e-01]])

In [426]:
model.predict(user_scaled)

array([[0., 1.]], dtype=float32)

In [427]:
model.predict_proba(user_scaled)

array([[0., 1.]], dtype=float32)

In [428]:
from pickle import dump

In [429]:
dump(ss, open('../models/scaler.pkl', 'wb'))