In [1]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

In [2]:
base_url = 'http://www.zillow.com/webservice/GetSearchResults.htm'

In [8]:
call_ex = 'http://www.zillow.com/webservice/GetSearchResults.htm?zws-id=X1-ZWz1hmv1cc2rrf_7kib9&address=2114+Bigelow+Ave&citystatezip=Seattle%2C+WA'

In [9]:
call_1 = requests.get(call_ex)

In [10]:
call_1.content

b'<?xml version="1.0" encoding="utf-8"?><SearchResults:searchresults xsi:schemaLocation="http://www.zillow.com/static/xsd/SearchResults.xsd http://www.zillowstatic.com/vstatic/80d5e73/static/xsd/SearchResults.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SearchResults="http://www.zillow.com/static/xsd/SearchResults.xsd"><request><address></address><citystatezip></citystatezip></request><message><text>Error: this account is not authorized to execute this API call</text><code>6</code></message></SearchResults:searchresults><!-- H:003  T:7ms  S:150  R:Tue Feb 18 20:45:44 PST 2020  B:5.0.63846-master.4b066c6~delivery_ready.b263029 -->'

In [7]:
import requests
url = "https://zillowdimashirokovv1.p.rapidapi.com/GetSearchResults.htm"
payload = "rentzestimate=true&rentzestimate=false&zws-id=<X1-ZWz1hmmpfmyfij_1mzvh>&citystatezip=97525&address=583-N-5th-Ave-Gold-Hill-OR"
headers = {
    'x-rapidapi-host': "ZillowdimashirokovV1.p.rapidapi.com",
    'x-rapidapi-key': "YOUR RAPID API KEY",
    'content-type': "application/x-www-form-urlencoded"
    }
response = requests.request("POST", url, data=payload, headers=headers)
print(response.text)

{"message":"Key doesn't exists"}

In [17]:
#ATTOM API

import http.client 

conn = http.client.HTTPSConnection("api.gateway.attomdata.com") 

headers = { 
    'accept': "application/json", 
    'apikey': "keyID", 
} 

conn.request("GET", "/propertyapi/v1.0.0/property/detail?address1=4529%20Winona%20Court&address2=Denver%2C%20CO", 
             headers=headers) 

res = conn.getresponse() 
data = res.read() 

print(data.decode("utf-8"))

{"status":{"version":"1.0.0","code":0,"msg":"SuccessWithResult","total":1,"page":1,"pagesize":10},"property":[{"identifier":{"obPropId":18471319108031,"fips":"08031","apn":"0219204018000","apnOrig":"219204018000","attomId":184713191},"lot":{"depth":0,"frontage":0,"lotnum":"31","lotsize1":0.1077,"lotsize2":4690,"pooltype":"NONE"},"area":{"blockNum":"36","countrysecsubd":"Denver County","countyuse1":"113","muncode":"DE","munname":"DENVER","srvyRange":"68W","srvySection":"19","srvyTownship":"03S","subdname":"BERKELEY","subdtractnum":"0","taxcodearea":"0"},"address":{"country":"US","countrySubd":"CO","line1":"4529 WINONA CT","line2":"DENVER, CO 80212","locality":"Denver","matchCode":"ExaStr","oneLine":"4529 WINONA CT, DENVER, CO 80212","postal1":"80212","postal2":"2512","postal3":"C037"},"location":{"accuracy":"Street","elevation":0.0,"latitude":"39.778904","longitude":"-105.047624","distance":0.0,"geoid":"CO08031, CS0891007, DB0803360, MT30001324, ND0000119198, ND0004721499, PL0820000, SB0000076114, SB0000076155, SB0000076161, SB0000135819, ZI80212"},"summary":{"absenteeInd":"OWNER OCCUPIED","propclass":"Single Family Residence / Townhouse","propsubtype":"RESIDENTIAL","proptype":"SFR","yearbuilt":1900,"propLandUse":"SFR","propIndicator":"10","legal1":"BERKELEY B36 L31 & S/2 OF L32 EXC REAR 8FT TO CITY"},"utilities":{"heatingtype":"FORCED AIR"},"building":{"size":{"bldgsize":1414,"grosssize":1414,"grosssizeadjusted":934,"groundfloorsize":934,"livingsize":934,"sizeInd":"LIVING SQFT ","universalsize":934},"rooms":{"bathfixtures":0,"baths1qtr":0,"baths3qtr":0,"bathscalc":1.0,"bathsfull":1,"bathshalf":0,"bathstotal":1.0,"beds":2,"roomsTotal":5},"interior":{"bsmtsize":480,"bsmttype":"UNFINISHED","fplccount":1,"fplcind":"Y","fplctype":"YES"},"construction":{"condition":"AVERAGE","wallType":"BRICK"},"parking":{"garagetype":"DETACHED GARAGE","prkgSize":240,"prkgSpaces":"0","prkgType":"GARAGE DETACHED"},"summary":{"bldgsNum":0,"bldgType":"TYPE UNKNOWN","imprType":"RESIDENTIAL","levels":1,"mobileHomeInd":" ","quality":"EXCELLENT","storyDesc":"TYPE UNKNOWN","unitsCount":"1","yearbuilteffective":0}},"vintage":{"lastModified":"2020-1-10","pubDate":"2020-1-16"}}]}

In [ ]:
# response = urlopen(request)
# elevations = response.read()
# data = json.loads(elevations)
# json_normalize(data['results'])
#https://stackoverflow.com/questions/21104592/json-to-pandas-dataframe

In [239]:
house = json.loads(data)

In [240]:
house

{'status': {'version': '1.0.0',
  'code': 0,
  'msg': 'SuccessWithResult',
  'total': 1,
  'page': 1,
  'pagesize': 10},
 'property': [{'identifier': {'obPropId': 18471319108031,
    'fips': '08031',
    'apn': '0219204018000',
    'apnOrig': '219204018000',
    'attomId': 184713191},
   'lot': {'depth': 0,
    'frontage': 0,
    'lotnum': '31',
    'lotsize1': 0.1077,
    'lotsize2': 4690,
    'pooltype': 'NONE'},
   'area': {'blockNum': '36',
    'countrysecsubd': 'Denver County',
    'countyuse1': '113',
    'muncode': 'DE',
    'munname': 'DENVER',
    'srvyRange': '68W',
    'srvySection': '19',
    'srvyTownship': '03S',
    'subdname': 'BERKELEY',
    'subdtractnum': '0',
    'taxcodearea': '0'},
   'address': {'country': 'US',
    'countrySubd': 'CO',
    'line1': '4529 WINONA CT',
    'line2': 'DENVER, CO 80212',
    'locality': 'Denver',
    'matchCode': 'ExaStr',
    'oneLine': '4529 WINONA CT, DENVER, CO 80212',
    'postal1': '80212',
    'postal2': '2512',
    'postal3': 'C037'},
   'location': {'accuracy': 'Street',
    'elevation': 0.0,
    'latitude': '39.778904',
    'longitude': '-105.047624',
    'distance': 0.0,
    'geoid': 'CO08031, CS0891007, DB0803360, MT30001324, ND0000119198, ND0004721499, PL0820000, SB0000076114, SB0000076155, SB0000076161, SB0000135819, ZI80212'},
   'summary': {'absenteeInd': 'OWNER OCCUPIED',
    'propclass': 'Single Family Residence / Townhouse',
    'propsubtype': 'RESIDENTIAL',
    'proptype': 'SFR',
    'yearbuilt': 1900,
    'propLandUse': 'SFR',
    'propIndicator': '10',
    'legal1': 'BERKELEY B36 L31 & S/2 OF L32 EXC REAR 8FT TO CITY'},
   'utilities': {'heatingtype': 'FORCED AIR'},
   'building': {'size': {'bldgsize': 1414,
     'grosssize': 1414,
     'grosssizeadjusted': 934,
     'groundfloorsize': 934,
     'livingsize': 934,
     'sizeInd': 'LIVING SQFT ',
     'universalsize': 934},
    'rooms': {'bathfixtures': 0,
     'baths1qtr': 0,
     'baths3qtr': 0,
     'bathscalc': 1.0,
     'bathsfull': 1,
     'bathshalf': 0,
     'bathstotal': 1.0,
     'beds': 2,
     'roomsTotal': 5},
    'interior': {'bsmtsize': 480,
     'bsmttype': 'UNFINISHED',
     'fplccount': 1,
     'fplcind': 'Y',
     'fplctype': 'YES'},
    'construction': {'condition': 'AVERAGE', 'wallType': 'BRICK'},
    'parking': {'garagetype': 'DETACHED GARAGE',
     'prkgSize': 240,
     'prkgSpaces': '0',
     'prkgType': 'GARAGE DETACHED'},
    'summary': {'bldgsNum': 0,
     'bldgType': 'TYPE UNKNOWN',
     'imprType': 'RESIDENTIAL',
     'levels': 1,
     'mobileHomeInd': ' ',
     'quality': 'EXCELLENT',
     'storyDesc': 'TYPE UNKNOWN',
     'unitsCount': '1',
     'yearbuilteffective': 0}},
   'vintage': {'lastModified': '2020-1-10', 'pubDate': '2020-1-16'}}]}

In [161]:
keys = list(house['property'][0].keys())
keys

['identifier',
 'lot',
 'area',
 'address',
 'location',
 'summary',
 'utilities',
 'building',
 'vintage']

In [231]:
# create new dfs based on dictionary keys

# df_1 ['obPropId', 'fips', 'apn', 'apnOrig', 'attomId']
df_1 = pd.DataFrame(house['property'][0]['identifier'],index=[0])

# df_2 ['depth', 'frontage', 'lotnum', 'lotsize1', 'lotsize2', 'pooltype']
df_2 = pd.DataFrame(house['property'][0]['lot'],index=[0])

# df_3 ['blockNum', 'countrysecsubd', 'countyuse1', 'muncode', 'munname',
#       'srvyRange', 'srvySection', 'srvyTownship', 'subdname', 'subdtractnum','taxcodearea']
df_3 = pd.DataFrame(house['property'][0]['area'],index=[0])

# df_3 ['country', 'countrySubd', 'line1', 'line2', 'locality', 'matchCode',
#       'oneLine', 'postal1', 'postal2', 'postal3']
df_4 = pd.DataFrame(house['property'][0]['address'],index=[0])

# df_5 = ['accuracy', 'elevation', 'latitude', 'longitude', 'distance', 'geoid']
df_5 = pd.DataFrame(house['property'][0]['location'],index=[0])

# df_6 ['absenteeInd', 'propclass', 'propsubtype', 'proptype', 'yearbuilt',
#       'propLandUse', 'propIndicator', 'legal1']
df_6 = pd.DataFrame(house['property'][0]['summary'],index=[0])

#df_7 ['heatingtype']
df_7 = pd.DataFrame(house['property'][0]['utilities'],index=[0])

#df_8 **['size', 'rooms', 'interior', 'construction', 'parking', 'summary']** dict keys
df_8 = pd.DataFrame(house['property'][0]['building'],index=[0])

#df_9 ['lastModified', 'pubDate']
df_9 = pd.DataFrame(house['property'][0]['vintage'],index=[0])

In [233]:
# create new dfs based on df_8 dictionary keys

# df_b1 ['bldgsize', 'grosssize', 'grosssizeadjusted', 'groundfloorsize',
#       'livingsize', 'sizeInd', 'universalsize']
df_b1 = pd.DataFrame(house['property'][0]['building']['size'],index=[0])

# df_b2 ['bathfixtures', 'baths1qtr', 'baths3qtr', 'bathscalc', 'bathsfull',
#       'bathshalf', 'bathstotal', 'beds', 'roomsTotal']
df_b2 = pd.DataFrame(house['property'][0]['building']['rooms'],index=[0])

#df_b3 ['bsmtsize', 'bsmttype', 'fplccount', 'fplcind', 'fplctype']
df_b3 = pd.DataFrame(house['property'][0]['building']['interior'],index=[0])

#df_b4 ['condition', 'wallType']
df_b4 = pd.DataFrame(house['property'][0]['building']['construction'],index=[0])

#df_b5 ['garagetype', 'prkgSize', 'prkgSpaces', 'prkgType']
df_b5 = pd.DataFrame(house['property'][0]['building']['parking'],index=[0])

#df_b6 ['bldgsNum', 'bldgType', 'imprType', 'levels', 'mobileHomeInd',
#       'quality', 'storyDesc', 'unitsCount', 'yearbuilteffective']
df_b6 = pd.DataFrame(house['property'][0]['building']['summary'],index=[0])

In [234]:
# Build df for property 1
prop_1 = pd.concat([df_1['fips'],df_2,df_3,df_4,df_5,df_6,df_7,df_9,df_b1,df_b2,df_b3,df_b4,df_b5,df_b6],axis=1)

In [228]:
prop_1

,fips,depth,frontage,lotnum,lotsize1,lotsize2,pooltype,blockNum,countrysecsubd,countyuse1,...,prkgType,bldgsNum,bldgType,imprType,levels,mobileHomeInd,quality,storyDesc,unitsCount,yearbuilteffective
0,08031,0,0,31,0.1077,4690,NONE,36,Denver County,113,...,GARAGE DETACHED,0,TYPE UNKNOWN,RESIDENTIAL,1,,EXCELLENT,TYPE UNKNOWN,1,0

In [121]:
df = pd.DataFrame()
for k1 in house['property'][0]:
    print("k1 --> ",k1)
    for k2 in house['property'][0][k1]:
        
        try:
            for k3 in house['property'][0][k1][k2]:
                print("k3 --> ",k3, '->', house['property'][0][k1][k2][k3])
                print("k2 --> ",k2, '->', house['property'][0][k1][k2])
#                df[str(k3)] = house['property'][0][k1][k2]
                df.loc[0,str(k2)] = house['property'][0][k1][k2]
                break
            try:
                for k4 in house['property'][0][k1][k2][k3]:
                    print("k4 --> ",k4, '->', house['property'][0][k1][k2][k3][k4])
                    print("k3 --> ",k3, '->', house['property'][0][k1][k2][k3])
                    break
            except:
                print("k3 --> ",k3, '->', house['property'][0][k1][k2][k3])
        
        except:
            print("k2 --> ",k2, '->', house['property'][0][k1][k2])
            
df.head()

k1 -->  identifier
k2 -->  obPropId -> 18471319108031
k2 -->  fips -> 08031
k2 -->  apn -> 0219204018000
k2 -->  apnOrig -> 219204018000
k2 -->  attomId -> 184713191
k1 -->  lot
k2 -->  depth -> 0
k2 -->  frontage -> 0
k2 -->  lotnum -> 31
k2 -->  lotsize1 -> 0.1077
k2 -->  lotsize2 -> 4690
k2 -->  pooltype -> NONE
k1 -->  area
k2 -->  blockNum -> 36
k2 -->  countrysecsubd -> Denver County
k2 -->  countyuse1 -> 113
k2 -->  muncode -> DE
k2 -->  munname -> DENVER
k2 -->  srvyRange -> 68W
k2 -->  srvySection -> 19
k2 -->  srvyTownship -> 03S
k2 -->  subdname -> BERKELEY
k2 -->  subdtractnum -> 0
k2 -->  taxcodearea -> 0
k1 -->  address
k2 -->  country -> US
k2 -->  countrySubd -> CO
k2 -->  line1 -> 4529 WINONA CT
k2 -->  line2 -> DENVER, CO 80212
k2 -->  locality -> Denver
k2 -->  matchCode -> ExaStr
k2 -->  oneLine -> 4529 WINONA CT, DENVER, CO 80212
k2 -->  postal1 -> 80212
k2 -->  postal2 -> 2512
k2 -->  postal3 -> C037
k1 -->  location
k2 -->  accuracy -> Street
k2 -->  elevation -> 0.0
k2 -->  latitude -> 39.778904
k2 -->  longitude -> -105.047624
k2 -->  distance -> 0.0
k2 -->  geoid -> CO08031, CS0891007, DB0803360, MT30001324, ND0000119198, ND0004721499, PL0820000, SB0000076114, SB0000076155, SB0000076161, SB0000135819, ZI80212
k1 -->  summary
k2 -->  absenteeInd -> OWNER OCCUPIED
k2 -->  propclass -> Single Family Residence / Townhouse
k2 -->  propsubtype -> RESIDENTIAL
k2 -->  proptype -> SFR
k2 -->  yearbuilt -> 1900
k2 -->  propLandUse -> SFR
k2 -->  propIndicator -> 10
k2 -->  legal1 -> BERKELEY B36 L31 & S/2 OF L32 EXC REAR 8FT TO CITY
k1 -->  utilities
k2 -->  heatingtype -> FORCED AIR
k1 -->  building
k3 -->  bldgsize -> 1414
k2 -->  size -> {'bldgsize': 1414, 'grosssize': 1414, 'grosssizeadjusted': 934, 'groundfloorsize': 934, 'livingsize': 934, 'sizeInd': 'LIVING SQFT ', 'universalsize': 934}
k2 -->  size -> {'bldgsize': 1414, 'grosssize': 1414, 'grosssizeadjusted': 934, 'groundfloorsize': 934, 'livingsize': 934, 'sizeInd': 'LIVING SQFT ', 'universalsize': 934}
k3 -->  bathfixtures -> 0
k2 -->  rooms -> {'bathfixtures': 0, 'baths1qtr': 0, 'baths3qtr': 0, 'bathscalc': 1.0, 'bathsfull': 1, 'bathshalf': 0, 'bathstotal': 1.0, 'beds': 2, 'roomsTotal': 5}
k2 -->  rooms -> {'bathfixtures': 0, 'baths1qtr': 0, 'baths3qtr': 0, 'bathscalc': 1.0, 'bathsfull': 1, 'bathshalf': 0, 'bathstotal': 1.0, 'beds': 2, 'roomsTotal': 5}
k3 -->  bsmtsize -> 480
k2 -->  interior -> {'bsmtsize': 480, 'bsmttype': 'UNFINISHED', 'fplccount': 1, 'fplcind': 'Y', 'fplctype': 'YES'}
k2 -->  interior -> {'bsmtsize': 480, 'bsmttype': 'UNFINISHED', 'fplccount': 1, 'fplcind': 'Y', 'fplctype': 'YES'}
k3 -->  condition -> AVERAGE
k2 -->  construction -> {'condition': 'AVERAGE', 'wallType': 'BRICK'}
k2 -->  construction -> {'condition': 'AVERAGE', 'wallType': 'BRICK'}
k3 -->  garagetype -> DETACHED GARAGE
k2 -->  parking -> {'garagetype': 'DETACHED GARAGE', 'prkgSize': 240, 'prkgSpaces': '0', 'prkgType': 'GARAGE DETACHED'}
k2 -->  parking -> {'garagetype': 'DETACHED GARAGE', 'prkgSize': 240, 'prkgSpaces': '0', 'prkgType': 'GARAGE DETACHED'}
k3 -->  bldgsNum -> 0
k2 -->  summary -> {'bldgsNum': 0, 'bldgType': 'TYPE UNKNOWN', 'imprType': 'RESIDENTIAL', 'levels': 1, 'mobileHomeInd': ' ', 'quality': 'EXCELLENT', 'storyDesc': 'TYPE UNKNOWN', 'unitsCount': '1', 'yearbuilteffective': 0}
k2 -->  summary -> {'bldgsNum': 0, 'bldgType': 'TYPE UNKNOWN', 'imprType': 'RESIDENTIAL', 'levels': 1, 'mobileHomeInd': ' ', 'quality': 'EXCELLENT', 'storyDesc': 'TYPE UNKNOWN', 'unitsCount': '1', 'yearbuilteffective': 0}
k1 -->  vintage
k2 -->  lastModified -> 2020-1-10
k2 -->  pubDate -> 2020-1-16

   size  rooms  interior  construction  parking  summary
0   NaN    NaN       NaN           NaN      NaN      NaN

In [241]:
conn = http.client.HTTPSConnection("api.gateway.attomdata.com") 

headers = { 
    'accept': "application/json", 
    'apikey': "keyID", 
} 

conn.request("GET", "/propertyapi/v1.0.0/property/detail?address1=1232%20Quaker%20Street&address2=Golden%2C%20CO", 
             headers=headers) 

res_2 = conn.getresponse() 
data_2 = res_2.read() 

print(data.decode("utf-8"))

{"status":{"version":"1.0.0","code":0,"msg":"SuccessWithResult","total":1,"page":1,"pagesize":10},"property":[{"identifier":{"obPropId":18471319108031,"fips":"08031","apn":"0219204018000","apnOrig":"219204018000","attomId":184713191},"lot":{"depth":0,"frontage":0,"lotnum":"31","lotsize1":0.1077,"lotsize2":4690,"pooltype":"NONE"},"area":{"blockNum":"36","countrysecsubd":"Denver County","countyuse1":"113","muncode":"DE","munname":"DENVER","srvyRange":"68W","srvySection":"19","srvyTownship":"03S","subdname":"BERKELEY","subdtractnum":"0","taxcodearea":"0"},"address":{"country":"US","countrySubd":"CO","line1":"4529 WINONA CT","line2":"DENVER, CO 80212","locality":"Denver","matchCode":"ExaStr","oneLine":"4529 WINONA CT, DENVER, CO 80212","postal1":"80212","postal2":"2512","postal3":"C037"},"location":{"accuracy":"Street","elevation":0.0,"latitude":"39.778904","longitude":"-105.047624","distance":0.0,"geoid":"CO08031, CS0891007, DB0803360, MT30001324, ND0000119198, ND0004721499, PL0820000, SB0000076114, SB0000076155, SB0000076161, SB0000135819, ZI80212"},"summary":{"absenteeInd":"OWNER OCCUPIED","propclass":"Single Family Residence / Townhouse","propsubtype":"RESIDENTIAL","proptype":"SFR","yearbuilt":1900,"propLandUse":"SFR","propIndicator":"10","legal1":"BERKELEY B36 L31 & S/2 OF L32 EXC REAR 8FT TO CITY"},"utilities":{"heatingtype":"FORCED AIR"},"building":{"size":{"bldgsize":1414,"grosssize":1414,"grosssizeadjusted":934,"groundfloorsize":934,"livingsize":934,"sizeInd":"LIVING SQFT ","universalsize":934},"rooms":{"bathfixtures":0,"baths1qtr":0,"baths3qtr":0,"bathscalc":1.0,"bathsfull":1,"bathshalf":0,"bathstotal":1.0,"beds":2,"roomsTotal":5},"interior":{"bsmtsize":480,"bsmttype":"UNFINISHED","fplccount":1,"fplcind":"Y","fplctype":"YES"},"construction":{"condition":"AVERAGE","wallType":"BRICK"},"parking":{"garagetype":"DETACHED GARAGE","prkgSize":240,"prkgSpaces":"0","prkgType":"GARAGE DETACHED"},"summary":{"bldgsNum":0,"bldgType":"TYPE UNKNOWN","imprType":"RESIDENTIAL","levels":1,"mobileHomeInd":" ","quality":"EXCELLENT","storyDesc":"TYPE UNKNOWN","unitsCount":"1","yearbuilteffective":0}},"vintage":{"lastModified":"2020-1-10","pubDate":"2020-1-16"}}]}

In [242]:
house_2 = json.loads(data_2)
house_2

{'status': {'version': '1.0.0',
  'code': 0,
  'msg': 'SuccessWithResult',
  'total': 1,
  'page': 1,
  'pagesize': 10},
 'property': [{'identifier': {'obPropId': 18442333608059,
    'fips': '08059',
    'apn': '210768',
    'apnOrig': '210768',
    'attomId': 184423336},
   'lot': {'depth': 0,
    'frontage': 0,
    'lotnum': '10',
    'lotsize1': 0.2351,
    'lotsize2': 10243,
    'pooltype': 'NONE'},
   'area': {'countrysecsubd': 'Jefferson County',
    'countyuse1': '1215',
    'muncode': 'JE',
    'munname': 'JEFFERSON',
    'srvyRange': '70',
    'srvySection': '01',
    'srvyTownship': '04',
    'subdname': 'ASMUS',
    'subdtractnum': '0',
    'taxcodearea': '4573'},
   'address': {'country': 'US',
    'countrySubd': 'CO',
    'line1': '1232 QUAKER ST',
    'line2': 'GOLDEN, CO 80401',
    'locality': 'Golden',
    'matchCode': 'ExaStr',
    'oneLine': '1232 QUAKER ST, GOLDEN, CO 80401',
    'postal1': '80401',
    'postal2': '2801',
    'postal3': 'C008'},
   'location': {'accuracy': 'Street',
    'elevation': 0.0,
    'latitude': '39.736079',
    'longitude': '-105.184132',
    'distance': 0.0,
    'geoid': 'CO08059, CS0892641, DB0804800, MT30001324, ND0000119566, ND0004681965, PL0884042, SB0000075688, SB0000075713, SB0000075759, ZI80401'},
   'summary': {'absenteeInd': 'OWNER OCCUPIED',
    'propclass': 'Single Family Residence / Townhouse',
    'propsubtype': 'MISCELLANEOUS INDUSTRIAL',
    'proptype': 'SFR',
    'yearbuilt': 1985,
    'propLandUse': 'SFR',
    'propIndicator': '10',
    'legal1': 'SECTION 01 TOWNSHIP 04 RANGE 70 QTR NW SUBDIVISIONCD 056200 SUBDIVISIONNAME ASMUS BLOCK LOT 0010 SIZE: 30 TRACT 00C VALUE: .001 SECTION 01 TOWNSHIP 04 RANGE 70 QTR NW SUBDIVISIONCD 056200 SUBDIVISIONNAME ASMUS BLOCK LOT 0011 SIZE: 70 TRACT 00C VALUE:'},
   'utilities': {'heatingtype': 'FORCED AIR'},
   'building': {'size': {'bldgsize': 4504,
     'grosssize': 4504,
     'grosssizeadjusted': 2052,
     'groundfloorsize': 2052,
     'livingsize': 2052,
     'sizeInd': 'LIVING SQFT ',
     'universalsize': 2052},
    'rooms': {'bathfixtures': 0,
     'baths1qtr': 0,
     'baths3qtr': 0,
     'bathscalc': 2.0,
     'bathsfull': 0,
     'bathshalf': 0,
     'bathstotal': 2.0,
     'beds': 4,
     'roomsTotal': 0},
    'interior': {'bsmtsize': 2052,
     'bsmttype': 'UNFINISHED',
     'fplccount': 0,
     'fplcind': 'Y',
     'fplctype': 'YES'},
    'construction': {'constructiontype': 'MASONRY', 'frameType': 'MASONRY'},
    'parking': {'garagetype': 'ATTACHED GARAGE',
     'prkgSize': 400,
     'prkgSpaces': '0',
     'prkgType': 'GARAGE - ATTACHED'},
    'summary': {'archStyle': 'RANCH',
     'bldgsNum': 1,
     'bldgType': 'MISCELLANEOUS INDUSTRIAL',
     'levels': 1,
     'mobileHomeInd': ' ',
     'quality': 'EXCELLENT',
     'storyDesc': 'MISCELLANEOUS INDUSTRIAL',
     'unitsCount': '1',
     'yearbuilteffective': 1985}},
   'vintage': {'lastModified': '2019-7-10', 'pubDate': '2019-7-24'}}]}

In [291]:
def call_api(num,street,str_type,city,state):
    conn = http.client.HTTPSConnection("api.gateway.attomdata.com") 

    headers = { 
        'accept': "application/json", 
        'apikey': "keyID", 
    } 
    address = f"address1={num}%20{street}%20{str_type}&address2={city}%2C%20{state}"
    conn.request("GET", f"/propertyapi/v1.0.0/property/detail?{address}", headers=headers) 

    res = conn.getresponse() 
    data = res.read() 
    
#    print(data.decode("utf-8"))
    return data
#    print("GET", f"/propertyapi/v1.0.0/property/detail?{address}", "headers=headers")

In [292]:
call_api('1232','Quaker','Street','Golden','CO')

b'{"status":{"version":"1.0.0","code":0,"msg":"SuccessWithResult","total":1,"page":1,"pagesize":10},"property":[{"identifier":{"obPropId":18442333608059,"fips":"08059","apn":"210768","apnOrig":"210768","attomId":184423336},"lot":{"depth":0,"frontage":0,"lotnum":"10","lotsize1":0.2351,"lotsize2":10243,"pooltype":"NONE"},"area":{"countrysecsubd":"Jefferson County","countyuse1":"1215","muncode":"JE","munname":"JEFFERSON","srvyRange":"70","srvySection":"01","srvyTownship":"04","subdname":"ASMUS","subdtractnum":"0","taxcodearea":"4573"},"address":{"country":"US","countrySubd":"CO","line1":"1232 QUAKER ST","line2":"GOLDEN, CO 80401","locality":"Golden","matchCode":"ExaStr","oneLine":"1232 QUAKER ST, GOLDEN, CO 80401","postal1":"80401","postal2":"2801","postal3":"C008"},"location":{"accuracy":"Street","elevation":0.0,"latitude":"39.736079","longitude":"-105.184132","distance":0.0,"geoid":"CO08059, CS0892641, DB0804800, MT30001324, ND0000119566, ND0004681965, PL0884042, SB0000075688, SB0000075713, SB0000075759, ZI80401"},"summary":{"absenteeInd":"OWNER OCCUPIED","propclass":"Single Family Residence / Townhouse","propsubtype":"MISCELLANEOUS INDUSTRIAL","proptype":"SFR","yearbuilt":1985,"propLandUse":"SFR","propIndicator":"10","legal1":"SECTION 01 TOWNSHIP 04 RANGE 70 QTR NW SUBDIVISIONCD 056200 SUBDIVISIONNAME ASMUS BLOCK LOT 0010 SIZE: 30 TRACT 00C VALUE: .001 SECTION 01 TOWNSHIP 04 RANGE 70 QTR NW SUBDIVISIONCD 056200 SUBDIVISIONNAME ASMUS BLOCK LOT 0011 SIZE: 70 TRACT 00C VALUE:"},"utilities":{"heatingtype":"FORCED AIR"},"building":{"size":{"bldgsize":4504,"grosssize":4504,"grosssizeadjusted":2052,"groundfloorsize":2052,"livingsize":2052,"sizeInd":"LIVING SQFT ","universalsize":2052},"rooms":{"bathfixtures":0,"baths1qtr":0,"baths3qtr":0,"bathscalc":2.0,"bathsfull":0,"bathshalf":0,"bathstotal":2.0,"beds":4,"roomsTotal":0},"interior":{"bsmtsize":2052,"bsmttype":"UNFINISHED","fplccount":0,"fplcind":"Y","fplctype":"YES"},"construction":{"constructiontype":"MASONRY","frameType":"MASONRY"},"parking":{"garagetype":"ATTACHED GARAGE","prkgSize":400,"prkgSpaces":"0","prkgType":"GARAGE - ATTACHED"},"summary":{"archStyle":"RANCH","bldgsNum":1,"bldgType":"MISCELLANEOUS INDUSTRIAL","levels":1,"mobileHomeInd":" ","quality":"EXCELLENT","storyDesc":"MISCELLANEOUS INDUSTRIAL","unitsCount":"1","yearbuilteffective":1985}},"vintage":{"lastModified":"2019-7-10","pubDate":"2019-7-24"}}]}'

In [293]:
extract_details(call_api('1232','Quaker','Street','Golden','CO'))

,fips,depth,frontage,lotnum,lotsize1,lotsize2,pooltype,countrysecsubd,countyuse1,muncode,...,prkgType,archStyle,bldgsNum,bldgType,levels,mobileHomeInd,quality,storyDesc,unitsCount,yearbuilteffective
0,08059,0,0,10,0.2351,10243,NONE,Jefferson County,1215,JE,...,GARAGE - ATTACHED,RANCH,1,MISCELLANEOUS INDUSTRIAL,1,,EXCELLENT,MISCELLANEOUS INDUSTRIAL,1,1985

In [295]:
custer = extract_details(call_api('1911','Custer','Street','Laramie','WY'))
# 1911 E Custer St
# Laramie, WY 82070

In [296]:
custer.columns

Index(['fips', 'depth', 'frontage', 'lotsize1', 'lotsize2', 'countrysecsubd',
       'countyuse1', 'country', 'countrySubd', 'line1', 'line2', 'locality',
       'matchCode', 'oneLine', 'postal1', 'postal2', 'postal3', 'accuracy',
       'elevation', 'latitude', 'longitude', 'distance', 'geoid',
       'absenteeInd', 'propclass', 'proptype', 'yearbuilt', 'propLandUse',
       'propIndicator', 'legal1', 'heatingtype', 'lastModified', 'pubDate',
       'bldgsize', 'grosssize', 'grosssizeadjusted', 'groundfloorsize',
       'livingsize', 'sizeInd', 'universalsize', 'bathfixtures', 'baths1qtr',
       'baths3qtr', 'bathscalc', 'bathsfull', 'bathshalf', 'bathstotal',
       'beds', 'roomsTotal', 'bsmtsize', 'bsmttype', 'fplccount', 'condition',
       'constructiontype', 'frameType', 'roofcover', 'wallType', 'garagetype',
       'prkgSize', 'archStyle', 'bldgsNum', 'levels', 'mobileHomeInd',
       'unitsCount', 'yearbuilteffective'],
      dtype='object')

In [300]:
custer[['bldgsize', 'grosssize', 'grosssizeadjusted', 'groundfloorsize',
       'livingsize', 'sizeInd', 'universalsize', 'bathfixtures', 'baths1qtr',
       'baths3qtr', 'bathscalc', 'bathsfull', 'bathshalf', 'bathstotal',
       'beds', 'roomsTotal', 'bsmtsize', 'bsmttype']]

,bldgsize,grosssize,grosssizeadjusted,groundfloorsize,livingsize,sizeInd,universalsize,bathfixtures,baths1qtr,baths3qtr,bathscalc,bathsfull,bathshalf,bathstotal,beds,roomsTotal,bsmtsize,bsmttype
0,0,0,1107,0,1107,LIVING SQFT,1107,-1,0,0,2.0,0,0,2.0,6,8,0,FINISHED

In [301]:
greeley = extract_details(call_api('3204','Stirrup','Lane','Evans','CO'))
greeley

,fips,depth,frontage,lotnum,lotsize1,lotsize2,pooltype,blockNum,countrysecsubd,countyuse1,...,prkgType,archStyle,bldgsNum,bldgType,imprType,levels,mobileHomeInd,storyDesc,unitsCount,yearbuilteffective
0,08123,0,0,30,0.2576,11220,NONE,6,Weld County,0001,...,GARAGE - ATTACHED,RANCH,1,HOUSE,HOUSE,1,,HOUSE,1,0

In [302]:
greeley[['bldgsize', 'grosssize', 'grosssizeadjusted', 'groundfloorsize',
       'livingsize', 'sizeInd', 'universalsize', 'bathfixtures', 'baths1qtr',
       'baths3qtr', 'bathscalc', 'bathsfull', 'bathshalf', 'bathstotal',
       'beds', 'roomsTotal', 'bsmtsize', 'bsmttype']]

,bldgsize,grosssize,grosssizeadjusted,groundfloorsize,livingsize,sizeInd,universalsize,bathfixtures,baths1qtr,baths3qtr,bathscalc,bathsfull,bathshalf,bathstotal,beds,roomsTotal,bsmtsize,bsmttype
0,3216,3216,1296,1296,1296,LIVING SQFT,1296,0,0,0,3.0,0,0,3.0,3,0,1280,FINISHED

In [303]:
greeley[['country', 'countrySubd', 'line1', 'line2', 'locality',
       'matchCode', 'oneLine', 'postal1', 'postal2', 'postal3', 'accuracy',
       'elevation', 'latitude', 'longitude']]

,country,countrySubd,line1,line2,locality,matchCode,oneLine,postal1,postal2,postal3,accuracy,elevation,latitude,longitude
0,US,CO,3204 STIRRUP LN,"EVANS, CO 80620",Evans,ExaStr,"3204 STIRRUP LN, EVANS, CO 80620",80620,9169,R002,Street,0.0,40.384367,-104.742291

In [ ]:
conn.request("GET", "/propertyapi/v1.0.0/property/##detail##?address1=1232%20Quaker%20Street&address2=Golden%2C%20CO", 
             headers=headers)
/propertyapi/v1.0.0/property/expandedprofile?address1=4529%20Winona%20Court&address2=Denver%2C%20CO
expandedprofile
GET /propertysearch/address/{number}/{dir}/{street}/{suffix}/{unit}/{city}/{county}/{state}/{zip}

In [ ]:
# all events
# Source: https://api.developer.attomdata.com/docs#!/All32Events32Extended32by32Address/getAllEventsDetailAddress
https://api.gateway.attomdata.com/propertyapi/v1.0.0/allevents/detail?address1=4529%20Winona%20Court&address2=Denver%2C%20CO%2080212

In [19]:
def call_api_all(bld_num,street,str_type,unit=None,unit_num=None,city=None,state=None):
    import http.client
    
    conn = http.client.HTTPSConnection("api.gateway.attomdata.com") 

    headers = { 
        'accept': "application/json", 
        'apikey': "keyID", 
    } 
    address_1 = f"address1={bld_num}%20{street}%20{str_type}%20{unit}%20{unit_num}"
    address_2 = f"&address2={city}%2C%20{state}"
    conn.request("GET", f"/propertyapi/v1.0.0/allevents/detail?{address_1}{address_2}", headers=headers) 

    res = conn.getresponse() 
    data = res.read() 
    
#    print(data.decode("utf-8"))
    print(address_1,address_2)
    return data
#    print("GET", f"/propertyapi/v1.0.0/property/detail?{address}", "headers=headers")

In [18]:
call_api_all('1232','Quaker','Street')

address1=1232%20Quaker%20Street%20None%20None &address2=None%2C%20None

In [ ]:
#2960 Inca St UNIT 501, Denver, CO 80202

In [20]:
all_data = call_api_all('2960','Inca','St','UNIT','501','Denver','CO')

address1=2960%20Inca%20St%20UNIT%20501 &address2=Denver%2C%20CO

In [21]:
 all_data = json.loads(all_data)

In [317]:
test = call_api_all('1242','Quaker','Street','Golden','CO')
# test = json.loads(all_data)
# test

In [24]:
extract_details(call_api_all('2960','Inca','St','UNIT','501','Denver','CO'))

address1=2960%20Inca%20St%20UNIT%20501 &address2=Denver%2C%20CO

,fips,depth,frontage,lotsize1,lotsize2,pooltype,countrysecsubd,countyuse1,muncode,munname,...,prkgSize,archStyle,bldgsNum,bldgType,imprType,levels,mobileHomeInd,storyDesc,unitsCount,yearbuilteffective
0,08031,0,0,0.0,0,NONE,Denver County,104,DE,DENVER,...,0,ROW HOUSE,0,TYPE UNKNOWN,RESIDENTIAL,2,,TYPE UNKNOWN,0,2001

In [22]:
all_data

{'status': {'version': '1.0.0',
  'code': 0,
  'msg': 'SuccessWithResult',
  'total': 1,
  'page': 1,
  'pagesize': 10},
 'property': [{'identifier': {'obPropId': 1797153808031,
    'fips': '08031',
    'apn': '0227804117117',
    'apnOrig': '227804117117',
    'attomId': 17971538},
   'lot': {'depth': 0,
    'frontage': 0,
    'lotsize1': 0.0,
    'lotsize2': 0,
    'pooltype': 'NONE'},
   'area': {'countrysecsubd': 'Denver County',
    'countyuse1': '104',
    'muncode': 'DE',
    'munname': 'DENVER',
    'srvyRange': '68W',
    'srvySection': '27',
    'srvyTownship': '03S',
    'subdname': 'HOYT & ROBINSONS ADD TO DENVER',
    'subdtractnum': '0',
    'taxcodearea': '0'},
   'address': {'country': 'US',
    'countrySubd': 'CO',
    'line1': '2960 INCA ST UNIT 501',
    'line2': 'DENVER, CO 80202',
    'locality': 'Denver',
    'matchCode': 'ExaStr',
    'oneLine': '2960 INCA ST UNIT 501, DENVER, CO 80202',
    'postal1': '80202',
    'postal2': '1105',
    'postal3': 'C065'},
   'location': {'accuracy': 'Street',
    'elevation': 0.0,
    'latitude': '39.759874',
    'longitude': '-104.998248',
    'distance': 0.0,
    'geoid': 'CO08031, CS0891007, DB0803360, MT30001324, ND0000507860, ND0004721786, PL0820000, RS0001805640, SB0000076124, SB0000076131, SB0000076174, SB0000076185, SB0000076189, ZI80202'},
   'summary': {'absenteeInd': 'OWNER OCCUPIED',
    'propclass': 'Condominium (residential)',
    'propsubtype': 'RESIDENTIAL',
    'proptype': 'CONDOMINIUM',
    'yearbuilt': 1896,
    'propLandUse': 'CONDOMINIUM',
    'propIndicator': '11',
    'legal1': 'WATERTOWER LOFTS CONDOS U-501 PRK-96 STR-F02'},
   'utilities': {'heatingtype': 'FORCED AIR'},
   'building': {'size': {'bldgsize': 1829,
     'grosssize': 1829,
     'grosssizeadjusted': 1829,
     'groundfloorsize': 1365,
     'livingsize': 1829,
     'sizeInd': 'LIVING SQFT ',
     'universalsize': 1829},
    'rooms': {'bathfixtures': 0,
     'baths1qtr': 0,
     'baths3qtr': 0,
     'bathscalc': 2.5,
     'bathsfull': 2,
     'bathshalf': 1,
     'bathstotal': 3.0,
     'beds': 3,
     'roomsTotal': 3},
    'interior': {'bsmtsize': 0, 'fplccount': 0},
    'construction': {'condition': 'AVERAGE', 'wallType': 'BRICK'},
    'parking': {'prkgSize': 0},
    'summary': {'archStyle': 'ROW HOUSE',
     'bldgsNum': 0,
     'bldgType': 'TYPE UNKNOWN',
     'imprType': 'RESIDENTIAL',
     'levels': 2,
     'mobileHomeInd': ' ',
     'storyDesc': 'TYPE UNKNOWN',
     'unitsCount': '0',
     'yearbuilteffective': 2001}},
   'vintage': {'lastModified': '2018-1-24', 'pubDate': '2018-2-2'},
   'avm': {'eventDate': '2020-1-28',
    'amount': {'scr': 77,
     'value': 980000,
     'high': 1138000,
     'low': 823000,
     'valueRange': 315000},
    'AVMChange': {'avmlastmonthvalue': 1011000,
     'avmamountchange': -31000,
     'avmpercentchange': -3},
    'calculations': {'perSizeUnit': 535.81,
     'ratioTaxAmt': 194.06,
     'ratioTaxValue': 1.08,
     'monthlyChgPct': 0.0,
     'monthlyChgValue': 0,
     'rangePctOfValue': 32.14},
    'condition': {'avmpoorlow': 781850.0,
     'avmpoorhigh': 1081100.0,
     'avmpoorscore': 72.0,
     'avmgoodlow': 823000.0,
     'avmgoodhigh': 1138000.0,
     'avmgoodscore': 77.0,
     'avmexcellentlow': 843575.0,
     'avmexcellenthigh': 1166450.0,
     'avmexcellentscore': 79.5}},
   'sale': {'salesearchdate': '2008-2-25',
    'saleTransDate': '2008-2-25',
    'amount': {'saleamt': 570000,
     'salerecdate': '2008-2-28',
     'saledisclosuretype': 0,
     'saledocnum': '0000026138',
     'saletranstype': 'Resale'},
    'calculation': {'priceperbed': 190000, 'pricepersizeunit': 312},
    'interfamily': 'Y',
    'resaleornewconstruction': 'M',
    'cashormortgagepurchase': 'M'},
   'assessment': {'appraised': {'apprimprvalue': 0,
     'apprlandvalue': 0,
     'apprttlvalue': 0},
    'assessed': {'assdimprpersizeunit': 30.98,
     'assdimprvalue': 56671,
     'assdlandpersizeunit': 0.0,
     'assdlandvalue': 11369,
     'assdttlpersizeunit': 37.2,
     'assdttlvalue': 68040},
    'calculations': {'calcimprind': 'MARKET VALUE',
     'calcimprpersizeunit': 440.62,
     'calcimprvalue': 805900,
     'calclandind': 'MARKET VALUE',
     'calclandpersizeunit': 0.0,
     'calclandvalue': 100700,
     'calcttlind': 'MARKET VALUE',
     'calcttlvalue': 906600,
     'calcvaluepersizeunit': 495.68},
    'market': {'mktimprvalue': 805900,
     'mktlandvalue': 100700,
     'mktttlvalue': 906600},
    'tax': {'taxamt': 5050.0, 'taxpersizeunit': 2.76, 'taxyear': 2018}}}]}

In [63]:
all_data['property'][0]['assessment']['tax'].keys()

dict_keys(['taxamt', 'taxpersizeunit', 'taxyear'])

In [64]:
pd.DataFrame(all_data['property'][0]['assessment']['tax'],index=[0])

   taxamt  taxpersizeunit  taxyear
0  5050.0            2.76     2018

In [46]:
pd.DataFrame(all_data['property'][0]['avm']['eventDate'],index=[0])

ValueError: DataFrame constructor not properly called!

In [67]:

def extract_details(api_data):
    house = json.loads(api_data)
    
    # create new dfs based on dictionary keys

    # df_1 ['obPropId', 'fips', 'apn', 'apnOrig', 'attomId']
    df_1 = pd.DataFrame(house['property'][0]['identifier'],index=[0])

    # df_2 ['depth', 'frontage', 'lotnum', 'lotsize1', 'lotsize2', 'pooltype']
    df_2 = pd.DataFrame(house['property'][0]['lot'],index=[0])

    # df_3 ['blockNum', 'countrysecsubd', 'countyuse1', 'muncode', 'munname',
    #       'srvyRange', 'srvySection', 'srvyTownship', 'subdname', 'subdtractnum','taxcodearea']
    df_3 = pd.DataFrame(house['property'][0]['area'],index=[0])

    # df_4 ['country', 'countrySubd', 'line1', 'line2', 'locality', 'matchCode',
    #       'oneLine', 'postal1', 'postal2', 'postal3']
    df_4 = pd.DataFrame(house['property'][0]['address'],index=[0])

    # df_5 = ['accuracy', 'elevation', 'latitude', 'longitude', 'distance', 'geoid']
    df_5 = pd.DataFrame(house['property'][0]['location'],index=[0])

    # df_6 ['absenteeInd', 'propclass', 'propsubtype', 'proptype', 'yearbuilt',
    #       'propLandUse', 'propIndicator', 'legal1']
    df_6 = pd.DataFrame(house['property'][0]['summary'],index=[0])

    #df_7 ['heatingtype']
    df_7 = pd.DataFrame(house['property'][0]['utilities'],index=[0])

    #df_8 **['size', 'rooms', 'interior', 'construction', 'parking', 'summary']** dict keys
    df_8 = pd.DataFrame(house['property'][0]['building'],index=[0])

    #df_9 ['lastModified', 'pubDate']
    df_9 = pd.DataFrame(house['property'][0]['vintage'],index=[0])
    
    # create new dfs based on df_8 dictionary keys

    # df_b1 ['bldgsize', 'grosssize', 'grosssizeadjusted', 'groundfloorsize',
    #       'livingsize', 'sizeInd', 'universalsize']
    df_b1 = pd.DataFrame(house['property'][0]['building']['size'],index=[0])

    # df_b2 ['bathfixtures', 'baths1qtr', 'baths3qtr', 'bathscalc', 'bathsfull',
    #       'bathshalf', 'bathstotal', 'beds', 'roomsTotal']
    df_b2 = pd.DataFrame(house['property'][0]['building']['rooms'],index=[0])

    #df_b3 ['bsmtsize', 'bsmttype', 'fplccount', 'fplcind', 'fplctype']
    df_b3 = pd.DataFrame(house['property'][0]['building']['interior'],index=[0])

    #df_b4 ['condition', 'wallType']
    df_b4 = pd.DataFrame(house['property'][0]['building']['construction'],index=[0])

    #df_b5 ['garagetype', 'prkgSize', 'prkgSpaces', 'prkgType']
    df_b5 = pd.DataFrame(house['property'][0]['building']['parking'],index=[0])

    #df_b6 ['bldgsNum', 'bldgType', 'imprType', 'levels', 'mobileHomeInd',
    #       'quality', 'storyDesc', 'unitsCount', 'yearbuilteffective']
    df_b6 = pd.DataFrame(house['property'][0]['building']['summary'],index=[0])
    
    ### AVM
    #df_v1 ['scr', 'value', 'high', 'low', 'valueRange']
    df_v1 = pd.DataFrame(house['property'][0]['avm']['amount'],index=[0])
    
    #df_v2 ['avmpoorlow', 'avmpoorhigh', 'avmpoorscore', 'avmgoodlow', 'avmgoodhigh', 
    #      'avmgoodscore', 'avmexcellentlow', 'avmexcellenthigh', 'avmexcellentscore']
    df_v2 = pd.DataFrame(house['property'][0]['avm']['condition'],index=[0])
    
    #df_v3 ['taxamt', 'taxpersizeunit', 'taxyear']
    df_v3 = pd.DataFrame(house['property'][0]['assessment']['tax'],index=[0])
    
    # Build df for property 1
    prop_1 = pd.concat([df_1['fips'],df_2,df_3,df_4,df_5,df_6,df_7,df_9,df_b1,
                        df_b2,df_b3,df_b4,df_b5,df_b6,df_v1,df_v2,df_v3],axis=1)
    
    return prop_1

In [69]:
df = extract_details(call_api_all('2960','Inca','St','UNIT','501','Denver','CO'))

address1=2960%20Inca%20St%20UNIT%20501 &address2=Denver%2C%20CO

In [71]:
df.shape

(1, 90)