In [1]:
import pandas as pd

In [30]:
data = pd.read_excel('data/data.gov/FY2020_50_FMRArea.xlsx')
county = pd.read_excel('data/data.gov/FY2020_50_County.xlsx')
final = pd.read_excel('data/data.gov/FY2015F_4050_Final.xls')
factors = pd.read_excel('data/data.gov/FY20_SAFMR_Component_Factors.xlsx')

In [4]:
data.head()

,state,cbsasub20,areaname20,rent50_0,rent50_1,rent50_2,rent50_3,rent50_4,state_alpha,pop2017,hu2017,CNTYNAME,name
0,48,METRO10180M10180,"Abilene, TX MSA",673,699,920,1209,1560,TX,169000,70907,Callahan County,Callahan County
1,72,METRO10380M10380,"Aguadilla-Isabela, PR HUD Metro FMR Area",386,397,452,591,713,PR,284885,132749,Aguada Municipio,Aguada Municipio
2,72,METRO10380N72141,"Utuado Municipio, PR HUD Metro FMR Area",379,390,444,553,601,PR,30210,13315,Utuado Municipio,Utuado Municipio
3,39,METRO10420M10420,"Akron, OH MSA",600,709,912,1147,1235,OH,703400,314354,Portage County,Portage County
4,13,METRO10500M10500,"Albany, GA MSA",643,666,791,1031,1151,GA,153775,66842,Baker County,Baker County

In [6]:
factors.head()

,cbsasub20,areaname20,rm_final,cpi_updatefactor,trend_factor
0,METRO10180M10180,"Abilene, TX MSA",1.046113,1.029915,1.051273
1,METRO10380M10380,"Aguadilla-Isabela, PR HUD Metro FMR Area",1.000000,1.010581,1.051273
2,METRO10380N72141,"Utuado Municipio, PR HUD Metro FMR Area",1.000000,1.010581,1.051273
3,METRO10420M10420,"Akron, OH MSA",1.061089,1.023722,1.036080
4,METRO10500M10500,"Albany, GA MSA",1.069330,1.029915,1.051273

In [22]:
data[data['CNTYNAME'] == 'Denver County']

Empty DataFrame
Columns: [state, cbsasub20, areaname20, rent50_0, rent50_1, rent50_2, rent50_3, rent50_4, state_alpha, pop2017, hu2017, CNTYNAME, name]
Index: []

In [29]:
# check counties
data[data['state']==8]['CNTYNAME'].value_counts()

Custer County        1
Bent County          1
Hinsdale County      1
Cheyenne County      1
San Miguel County    1
Mineral County       1
Morgan County        1
Delta County         1
Conejos County       1
Alamosa County       1
Montezuma County     1
Sedgwick County      1
Montrose County      1
Lincoln County       1
Saguache County      1
Grand County         1
Eagle County         1
Adams County         1
Teller County        1
Dolores County       1
Boulder County       1
Phillips County      1
Summit County        1
Pitkin County        1
Weld County          1
El Paso County       1
Otero County         1
Crowley County       1
Routt County         1
Mesa County          1
Rio Grande County    1
Logan County         1
Las Animas County    1
Gunnison County      1
Prowers County       1
Huerfano County      1
Baca County          1
La Plata County      1
Ouray County         1
Kiowa County         1
Rio Blanco County    1
Fremont County       1
Kit Carson County    1
Lake County          1
Yuma County          1
Washington County    1
Moffat County        1
Archuleta County     1
Garfield County      1
Jackson County       1
Pueblo County        1
San Juan County      1
Larimer County       1
Costilla County      1
Chaffee County       1
Name: CNTYNAME, dtype: int64

## No duplicate counties. Rent could be determined purely based on county

In [11]:
final.head()

,fips2000,fips2010,fmr2,fmr0,fmr1,fmr3,fmr4,county,State,CouSub,countyname,Metro_code,Areaname,county_town_name,pop2010,state_alpha,fmr_type,metro
0,100199999.0,100199999,788,628,663,1084,1288,1.0,1,99999,Autauga County,METRO33860M33860,"Montgomery, AL MSA",Autauga County,54571.0,AL,40,1
1,100399999.0,100399999,762,494,643,1123,1318,3.0,1,99999,Baldwin County,NCNTY01003N01003,"Baldwin County, AL",Baldwin County,182265.0,AL,40,0
2,100599999.0,100599999,670,492,495,834,895,5.0,1,99999,Barbour County,NCNTY01005N01005,"Barbour County, AL",Barbour County,27457.0,AL,40,0
3,100799999.0,100799999,773,545,652,1015,1142,7.0,1,99999,Bibb County,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",Bibb County,22915.0,AL,40,1
4,100999999.0,100999999,773,545,652,1015,1142,9.0,1,99999,Blount County,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",Blount County,57322.0,AL,40,1

In [18]:
final[final['State'] == 8]

,fips2000,fips2010,fmr2,fmr0,fmr1,fmr3,fmr4,county,State,CouSub,countyname,Metro_code,Areaname,county_town_name,pop2010,state_alpha,fmr_type,metro
244,800199999.0,800199999,1156,723,893,1696,1967,1.0,8,99999,Adams County,METRO19740M19740,"Denver-Aurora-Broomfield, CO MSA",Adams County,441603.0,CO,50,1
245,800399999.0,800399999,654,528,550,815,874,3.0,8,99999,Alamosa County,NCNTY08003N08003,"Alamosa County, CO",Alamosa County,15445.0,CO,40,0
246,800599999.0,800599999,1156,723,893,1696,1967,5.0,8,99999,Arapahoe County,METRO19740M19740,"Denver-Aurora-Broomfield, CO MSA",Arapahoe County,572003.0,CO,50,1
247,800799999.0,800799999,807,618,622,1055,1078,7.0,8,99999,Archuleta County,NCNTY08007N08007,"Archuleta County, CO",Archuleta County,12084.0,CO,40,0
248,800999999.0,800999999,643,519,542,948,987,9.0,8,99999,Baca County,NCNTY08009N08009,"Baca County, CO",Baca County,3788.0,CO,40,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,811799999.0,811799999,1261,750,1018,1656,2106,117.0,8,99999,Summit County,NCNTY08117N08117,"Summit County, CO",Summit County,27994.0,CO,40,0
304,811999999.0,811999999,899,558,719,1298,1302,119.0,8,99999,Teller County,METRO17820N08119,"Teller County, CO HUD Metro FMR Area",Teller County,23350.0,CO,40,1
305,812199999.0,812199999,643,472,475,801,868,121.0,8,99999,Washington County,NCNTY08121N08121,"Washington County, CO",Washington County,4814.0,CO,40,0
306,812399999.0,812399999,786,523,611,1153,1392,123.0,8,99999,Weld County,METRO24540M24540,"Greeley, CO MSA",Weld County,252825.0,CO,40,1
307,812599999.0,812599999,643,472,475,849,1001,125.0,8,99999,Yuma County,NCNTY08125N08125,"Yuma County, CO",Yuma County,10043.0,CO,40,0

In [24]:
final[final['county_town_name'] == 'Denver County']

,fips2000,fips2010,fmr2,fmr0,fmr1,fmr3,fmr4,county,State,CouSub,countyname,Metro_code,Areaname,county_town_name,pop2010,state_alpha,fmr_type,metro
260,803199999.0,803199999,1156,723,893,1696,1967,31.0,8,99999,Denver County,METRO19740M19740,"Denver-Aurora-Broomfield, CO MSA",Denver County,600158.0,CO,50,1

In [27]:
final[final['State'] == 8]['county_town_name'].value_counts()

Custer County        1
Routt County         1
Denver County        1
Otero County         1
Hinsdale County      1
                    ..
Broomfield County    1
Jackson County       1
Pueblo County        1
San Juan County      1
Chaffee County       1
Name: county_town_name, Length: 64, dtype: int64

In [32]:
county[county['cntyname'] == 'Denver County']

,fips2010,rent50_0,rent50_1,rent50_2,rent50_3,rent50_4,state,cbsasub20,areaname20,county,cousub,cntyname,name,pop2017,hu2017,state_alpha
260,803199999,1210,1367,1700,2348,2701,8,METRO19740M19740,"Denver-Aurora-Lakewood, CO MSA",31,99999,Denver County,Denver County,678465,306714,CO

In [35]:
county[county['state'] == 8]['cntyname'].value_counts()

Custer County        1
Routt County         1
Denver County        1
Otero County         1
Hinsdale County      1
                    ..
Broomfield County    1
Jackson County       1
Pueblo County        1
San Juan County      1
Chaffee County       1
Name: cntyname, Length: 64, dtype: int64

## Use county data not FMR Area data